{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>GET als Methode</p>
  <p>Mit GET werden Daten als Teil der URL geschickt...</p>
  <p>Gesendet wurde: {{parameter}} </p> 
</div>
{% endblock content %}
