{% extends "../admin.jinja2" %}

{% block text %}  <!-- Kommentar unter der Überschrift -->
  <p class="text-2xl font-bold"> Letzte Änderungen </p>
  Hier haben sie einen Überblick über die letzten <br>
  Änderungen die getätigt wurden.
{%endblock text %}

{% block subcontent %}

{% endblock %}