.white-Section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background: white;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}
.green-Section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background: green;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}
