{% macro StatsMenu() -%}
<div class="flex flex-wrap ">
  <div class="flex items-center justify-center pt-5 text-sm font-medium text-gray-900 border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-200">   
    <div class="flex mx-4 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:z-10 focus:ring-4 focus:ring-gray-200">
      <input type="hidden" id="usertId"
	     name="userId"
	     value="{{session['user_id']}}"
	     class="rounded-lg">
      <select id="stats"
	      name="stats"
	      class="rounded-lg"
	      onchange="this.form.submit()">
	{% for statistik in menu.items() %}
	<option value="{{ statistik[0] }}"
		{% if statistik[0] == marker %} selected = "selected" {% endif %}>
	  {{ statistik[1] }}
	</option>
	{% endfor %}
      </select>
    </div>
    <input type="hidden" id="dateTo" name="dateTo" value="{{ dateTo }}" />
    <input type="hidden" id="dateFrom" name="dateFrom" value="{{ dateFrom }}" />
  </div>
</div>
{%- endmacro %}
