{% macro StatsFilter() -%}
<div class="flex flex-wrap space-x-4 w-full md:space-x-0 md:space-y-2 md:w-auto">
  <!-- Filter button -->
  <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
	  class="flex items-center justify-center w-full px-4 py-2 mb-2
		 text-sm font-medium text-gray-900 bg-white border
		 border-gray-200 rounded-lg md:w-auto md:mb-0 focus:outline-none
		 hover:bg-gray-100 hover:text-primary-700 focus:z-10
		 focus:ring-4 focus:ring-gray-200" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
	 class="w-4 h-4 mr-2 text-gray-400"
	 viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011
				   1v3a1 1 0 01-.293.707L12 11.414V15a1
				   1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293
				   6.707A1 1 0 013 6V3z" clip-rule="evenodd"></path>
    </svg>
    Filter
    <svg class="-mr-1 ml-1.5 w-5 h-5"
	 fill="currentColor"
	 viewBox="0 0 20 20"
	 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path clip-rule="evenodd"
	    fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10
				   10.586l3.293-3.293a1 1 0 111.414 1.414l-4
				   4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"></path>
    </svg>
  </button>
  
  <div id="filterDropdown"
       class="z-10 w-64 p-4 space-y-3 bg-white divide-y divide-gray-100
	      rounded-lg shadow-lg sm:w-80 hidden"
       style="position: absolute; inset: 0px auto auto 0px; margin: 0px;
	      transform: translate3d(296.5px, 305px, 0px);" data-popper-placement="bottom">
    
    <form action="/statistik/9999" method="GET" class="space-y-3">
      <div class="flex space-x-2">
        <div class="w-1/2 space-y-1">
          <label for="statusInput"
		 class="block text-sm font-semibold text-center text-gray-700">Status</label>
          <select id="statusInput" name="statusInput"
		  class="w-full p-2 text-sm rounded-md shadow-sm focus:ring-2
			 focus:ring-green-500 focus:border-transparent">
            <option value="all">Alle</option>
            <option value="bearbeitet">Bearbeitet</option>
            <option value="offen" selected="">Offen</option>
            <option value="geloescht">Gelöscht</option>
          </select>
        </div>
        <div class="w-1/2 space-y-1">
          <label for="typeInput"
		 class="block text-sm font-semibold text-center text-gray-700">Typ</label>
          <select id="typeInput" name="typeInput"
		  class="w-full p-2 text-sm rounded-md shadow-sm focus:ring-2
			 focus:ring-green-500 focus:border-transparent">
            <option value="all">Alle</option>
            <option value="maennlich">Männlich</option>
            <option value="weiblich">Weiblich</option>
            <option value="oothek">Oothek</option>
            <option value="nymhe">Nymhe</option>
            <option value="andere">Andere</option>
            <option value="nicht_bestimmt">Nicht bestimmt
            </option>
          </select>
        </div>
      </div>
      <div class="space-y-1">
        <label for="dateFrom" class="block text-sm font-semibold text-gray-700">Datum von</label>
        <input type="date" id="dateFrom"
	       name="dateFrom"
	       value="" class="w-full p-2 text-sm rounded-md shadow-sm focus:ring-2
			       focus:ring-green-500 focus:border-transparent">
      </div>
      <div class="space-y-1">
        <label for="dateTo"
	       class="block text-sm font-semibold text-gray-700">Datum bis</label>
        <input type="date" id="dateTo" name="dateTo"
	       value=""
	       class="w-full p-2 text-sm rounded-md shadow-sm focus:ring-2
		      focus:ring-green-500 focus:border-transparent">
      </div>
      <div class="flex justify-between mt-4 space-x-4">
        <button id="clearFilters"
		type="button"
		class="flex items-center justify-center w-24 px-2 py-1 text-sm
		       text-red-500 border border-red-500 rounded-md shadow-sm
		       hover:bg-red-50 focus:ring-2 focus:ring-red-500
		       focus:ring-offset-2 focus:border-transparent">
          <svg xmlns="http://www.w3.org/2000/svg"
	       fill="none"
	       viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 mr-1">
            <path strokelinecap="round" strokelinejoin="round"
		  strokewidth="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
          Löschen
        </button>
        <button type="submit"
		class="w-1/2 px-4 py-2 text-gray-100 bg-green-500 rounded-md
		       shadow-sm hover:bg-green-600 focus:ring-2 focus:ring-green-500
		       focus:ring-offset-2 focus:border-transparent">
          Filtern
        </button>
      </div>
      
      
      <input type="hidden" name="q" value="">
      <input type="hidden" name="sort_order" value="id_asc">
      <input type="hidden" name="search_type" value="">
    </form>
    
  </div>
  <div class="py-2 pl-4 pr-4">Ort:</div>
  <div> 
    <input type="text" id="searchInput"
	   name="q"
	   placeholder="Filtern nach ..."
	   value=""
	   maxlength="50"
	   class="w-full h-full py-2 pl-10 pr-4 transition-shadow duration-300
		  rounded-lg search focus:ring-0 focus:border-transparent">
    <button type="button" onclick="clearSearch()"
	    title="löschen"
	    class="absolute p-1 transform -translate-y-1/2 bg-white
		   rounded-full right-5 top-1/2 hover:bg-gray-200 focus:outline-none">
      <svg focusable="false" xmlns="http://www.w3.org/2000/svg"
	   viewBox="0 0 24 24" width="16" height="16">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41
		 19 12 13.41 17.59 19 19 17.59 13.41 12z">
        </path>
      </svg>
    </button>
  </div>
</div>
  {%- endmacro %}
