{% extends "layout.html" %}
{% block title %}Statistiken{% endblock title %}
{% block meta_keywords %}Auswertungen, Meßtischblatt{% endblock %}
{% from 'statistics/menu-stats.html' import StatsMenu with context %}
{% block content %}
<section class="container px-4 mx-auto mt-10">
	<div class="p-4 bg-gray-100 rounded-lg border border-gray-200 sm:p-5">
		<form action="" method="POST" class="space-y-4">
			{{ StatsMenu() }}
		</form>
		<p class="mt-4 text-sm text-gray-700">Für den Zeitraum vom {{ session['date_from'] }} bis {{ session['date_to'] }}.</p>
		<p class="text-sm text-gray-700">Gebietskennzahl: {{ session['ags'] }}</p>
		{% if marker == "meldungen_gesamt" %}
		{% endif %}
		<div class="overflow-x-auto mt-4">
			<div class="p-2 sm:p-3">
				<table class="w-full min-w-[38rem] text-sm">
					<thead>
						<tr>
							<th class="p-1" style="text-align:left;">ID (AGS)</th>
							<th class="p-1" style="text-align:left;">Land</th>
							<th class="p-1" style="text-align:left;">Landkreis</th>
							<th class="p-1" style="text-align:right;">Gesamt</th>
						</tr>
					</thead>
					<tbody>
						{% for k in result.keys() %}
						<tr>
							<td class="p-1">{{k}}</td>
							<td class="p-1">{{result[k][0]}}</td>
							<td class="p-1">{{result[k][1]}}</td>
							<td class="p-1" style="text-align:right;">{{result[k][3]}}</td>
						</tr>
						{% for i in result[k][4] %}
						<tr>
							<td class="p-1">{{i[0]}}</td>
							<td class="p-1">{{i[1]}}</td>
							<td class="p-1">{{i[2]}}</td>
							<td class="p-1" style="text-align:right;">{{i[4]}}</td>
						</tr>
						{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
