{% extends "layout.html" %}
{% block title %}
  Statistiken
{% endblock title %}
{% block meta_keywords %}Auswertungen, Statistik{% endblock %}
{% from 'statistics/_macros_stats_menu.html' import StatsMenu with context %}
{% block content %}
  <section class="container px-4 mx-auto mt-10">
    <div class="p-4 bg-gray-100 rounded-lg border border-gray-200 sm:p-5">
      <form action="" method="POST" class="space-y-4">
        {{ StatsMenu() }}
      </form>
      <p class="mt-4 text-sm text-gray-700">Für den Zeitraum vom {{ session['date_from'] }} bis {{ session['date_to'] }}.</p>
      <p class="text-sm text-gray-700">Gebietskennzahl: {{ session['ags'] }}</p>
      <h1 class="pt-2 pb-2 text-lg text-center">Meldungen nach Fund- und Meldedatum</h1>
      <div id='meld' class="overflow-x-auto w-full">
        <!-- Grafik -->
      </div>
      <script>
      var trace1 = {{ trace1| tojson }};
      var trace2 = {{ trace2| tojson }};

      var t1xValues = trace1.x;
      var t1yValues = trace1.y;

      var t2xValues = trace2.x;
      var t2yValues = trace2.y;

      var trace1 = {
        x: t1xValues,
        y: t1yValues,
        name: 'Funddatum',
        type: 'bar'
      };

      var trace2 = {
        x: t2xValues,
        y: t2yValues,
        name: 'Meldedatum',
        type: 'bar'
      };

      var data = [trace1, trace2];
      var layout = {
        barmode: 'group',
        margin: {l: 40, r: 10, b: 30, t: 10, pad: 4},
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)'
      };
      Plotly.newPlot('meld', data, layout);

      </script>
    </div>
  </section>
{% endblock content %}
