{% extends "statistics/_base.html" %}
{% block meta_keywords %}Auswertungen, Meßtischblatt{% endblock %}
{% block area %}
  <p class="text-sm text-gray-700">Gebietskennzahl: {{ ags }} - Land: {{ land }}</p>
{% endblock area %}
{% block stats %}
  <h2 class="mt-4 mb-3 text-lg font-semibold text-gray-900">Meldungen</h2>
  <div class="flex flex-wrap justify-center">
    {% for k in result.keys() %}
      <div class="p-4">
        <div class="mb-4 text-center">
          <h1 class="text-xl font-bold">{{ k }}</h1>
        </div>
        <div class="overflow-x-auto">
          <table class="w-full tabular-nums min-w-56 table-fixed">
            <thead>
              <tr>
                <th class="text-left">Art</th>
                <th class="text-right">Anzahl</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Männlich</td>
                <td class="text-right">{{ result[k]['maennlich'] }}</td>
              </tr>
              <tr>
                <td>Weiblich</td>
                <td class="text-right">{{ result[k]['weiblich'] }}</td>
              </tr>
              <tr>
                <td>Nymphe</td>
                <td class="text-right">{{ result[k]['nymphe'] }}</td>
              </tr>
              <tr>
                <td>Oothek</td>
                <td class="text-right">{{ result[k]['oothek'] }}</td>
              </tr>
              <tr>
                <td>Andere</td>
                <td class="text-right">{{ result[k]['andere'] }}</td>
              </tr>
              <tr class="border-t-2 border-b-4 border-green-500">
                <td>Gesamt</td>
                <td class="text-right">{{ result[k]['gesamt'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock stats %}
