{% extends "layout.html" %}
{% block title %}Statistiken{% endblock title %}
{% block meta_keywords %}Auswertungen, Meßtischblatt{% endblock %}
{% from 'statistics/menu-stats.html' import StatsMenu with context %}
{% block content %}
<script src="{{ url_for('static', filename='node_modules/flowbite/dist/flowbite.min.js')}}" defer></script>
<section class="container mx-auto mt-10">
  <div class="sticky col-span-2 row-span-2 duration-500 bg-gray-200 border-4 border-gray-200 rounded-md top-3 hover:shadow-xl">
    <form action="" method="POST" class="space-y-3">
      {{ StatsMenu() }}
    </form>
    <p class="m-4">Meldungen für den Zeitraum vom {{dateFrom}} bis {{dateTo}}.</p>
    {% if marker == "meldungen_gesamt" %}
    {% endif %}
    <div class="">
      <div class="p-5">
	   <table class="">
	     <thead>
	       <tr>
		 <th class="p-1" style="text-align:left;">ID (AGS)</th>
		 <th class="p-1" style="text-align:left;">Land</th>
		 <th class="p-1" style="text-align:left;">Landkreis</th>
		 <th class="p-1" style="text-align:left;">Amt</th>
		 <th class="p-1" style="text-align:right;">Gesamt</th>
	       </tr>
	     </thead>
	     <tbody>
	       {% for k in result.keys() %}
	       <tr>
		 <td class="p-1">{{k}}</td>
		 <td class="p-1">{{result[k][0]}}</td>
		 <td class="p-1">{{result[k][1]}}</td>
		 <td class="p-1">{{result[k][2]}}</td>
		 <td class="p-1"
		     style="text-align:right;">{{result[k][3]}}</td>
	       </tr>
	       {% for i in result[k][4] %}
	       <tr>
		 <td class="p-1">{{i[0]}}</td>
		 <td class="p-1">{{i[1]}}</td>
		 <td class="p-1">{{i[2]}}</td>
		 <td class="p-1">{{i[3]}}</td>
		 <td class="p-1"
		     style="text-align:right;">{{i[4]}}</td>
	       </tr>
              {% endfor %}
	      {% endfor %}
	     </tbody>
	   </table>
    </div>
  </div>
</section>
{% endblock content %}
