{% extends "layout.html" %}
{% block title %}Statistiken{% endblock title %}
{% block meta_keywords %}Auswertungen, Statistik{% endblock %}
{% from 'statistics/menu-stats.html' import StatsMenu with context %}
{% block content %}
<script
  src="{{ url_for('static', filename='node_modules/plotly.js/dist/plotly.min.js')}}"
  charset="utf-8">
</script>
<section class="container mx-auto mt-10">
 <div
   class="sticky z-30 col-span-2 row-span-2 duration-500 bg-gray-200 border-4 border-gray-200 rounded-md top-3 hover:shadow-xl">
   <form action="" method="POST" class="space-y-3">
     {{ StatsMenu() }}
   </form>
   <p class="m-4">Für den Zeitraum vom {{dateFrom}} bis {{dateTo}}.</p>
   <h1 class="pt-2 pb-2 text-lg text-center">Meldungen nach Fund- und Meldedatum</h1>
   <div id='meld'
	class="wx-92">
   <!-- Grafik -->
   </div>
  <script>
     var trace1 = {{ trace1|tojson }};
     var trace2 = {{ trace2|tojson }};
    
     var t1xValues = trace1.x;
     var t1yValues = trace1.y;

     var t2xValues = trace2.x;
     var t2yValues = trace2.y;

   var trace1 = {
       x: t1xValues,
       y: t1yValues,
       name: 'Funddatum',
       type: 'bar'
   };

   var trace2 = {
       x: t2xValues,
       y: t2yValues,
       name: 'Meldedatum',
       type: 'bar'
   };

   var data = [trace1, trace2];
   var layout = {barmode: 'group',
		 margin: {
     		     l: 30,
     		     r: 10,
     		     b: 20,
     		     t: 20,
     		     pad: 4
     		 }
		};
   Plotly.newPlot('meld', data, layout);
   
 </script>    
</section>
{% endblock content %}
