{% extends "layout.html" %}
{% block title %}Statistiken{% endblock title %}
{% block meta_keywords %}Auswertungen, Feedback{% endblock %}
{% from 'statistics/menu-stats.html' import StatsMenu with context %}
{% block content %}
<section class="container px-4 mx-auto mt-10">
  <div class="p-4 bg-gray-100 rounded-lg border border-gray-200 sm:p-5">
    <form action="" method="POST" class="space-y-4">
      {{ StatsMenu() }}
    </form>
    <div class="mt-4">
      {% if fehler != True %}
      <p class="mt-2 mb-5">Folgende Antworten wurden gegeben:</p>
      <div class="overflow-x-auto">
      <table class="w-full min-w-[18rem] table-fixed">
	<thead>
	  <tr>
	    <th style="width:200px">Art</th>
	    <th style="width:50px; text-align:right;">Anzahl</th>
	  </tr>
	</thead>
	<tbody>
          {% for f in feedback %}
	  <tr>
	    <td>{{f[0]}}</td>
	    <td style="text-align:right;">{{f[1]}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      </div>
      {% endif %}
    </div>
    <div class="mt-4">
      <h2 class="font-semibold text-lg mb-4">Ergänzende Hinweise</h2>
      <ul class="list-disc ml-4">
	{% for d in details %}
	<li class="">{{d}}</li>
	{% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}
