/* Leaflet CSS */
@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'leaflet.locatecontrol/dist/L.Control.Locate.min.css';

/* Year selector control */
#yearSelect {
  border-radius: 2px;
  border: 2px;
  background-clip: padding-box;
}

/* Popup styles */
.leaflet-popup-content-wrapper {
  background: color-mix(in srgb, var(--color-green-800) 80%, transparent);
  border-radius: 12px;
  color: white;
  font-family: 'Arial', sans-serif;
  opacity: 0;
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
}

.leaflet-popup-tip {
  background: color-mix(in srgb, var(--color-green-800) 80%, transparent);
}

.leaflet-popup-content {
  padding: 10px;
}

.popup-content h2 {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: var(--color-gray-100);
}

.popup-list {
  list-style-type: none;
  padding: 0;
  font-size: 0.9em;
}

.popup-list li {
  margin-bottom: 5px;
}

.popup-loading,
.popup-error {
  text-align: center;
  font-weight: bold;
}

.popup-error {
  color: var(--color-red-500);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 640px) {
  #map {
    margin-left: 10px;
    margin-right: 10px;
  }
}
