@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply block w-full px-4 py-2 mt-2 text-base text-gray-700 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent hover:bg-gray-200 transition-colors;
}

.error-field {
  @apply border-red-500 bg-red-100 focus:ring-red-500;
}

.form-error {
  @apply text-red-500 mt-2;
}

.sticky-nav {
  background-color: rgb(0, 59, 40) !important;
  z-index: 9999 !important;
}

.invalid-input {
  border: 1px solid red !important;
}

.topContainer {
  position: relative;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media (max-width: 768px) {
  .navbar a {
    font-size: 1.2em !important;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.8rem !important;
  }
}

.table-responsive {
  display: block !important;
  width: 100% !important;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
}

html {
  scroll-behavior: smooth !important;
}

@layer components {
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  .slide-in {
    animation: slideIn 0.5s forwards;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.7);
    }
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

.toggle-checkbox:checked {
  right: 0 !important;
  border-color: #4b5563 !important;
  background-color: #4b5563 !important;
}

.toggle-label {
  width: 34px !important;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #10b981 !important;
}
