{% extends "error/base.html" %}

{% set page_title = "Sitzung abgelaufen" %}
{% set error_code = "Sitzung" %}
{% set heading_color = "text-amber-500" %}
{% set heading = "Deine Sitzung ist abgelaufen." %}
{% set message = "Bitte nutze deinen Reviewer-Link erneut, um dich anzumelden." %}
{% set button_text = "Zur Startseite" %}
{% set button_class = "bg-amber-600 hover:bg-linear-to-r hover:from-amber-600 hover:to-amber-500 hover:ring-2 hover:ring-offset-2 hover:ring-amber-500 animate-bounce" %}

{% block emoji %}
<span class="magnifier" role="img" aria-label="hourglass">&#x23F3;</span>
{% endblock %}
