{% extends "layout.html" %} 
{% block title %}
<a class="p-2 duration-300 rounded-lg hover:bg-green-700" href="/admin">
  Admin- Center
</a>
{% endblock title %} 
{% block text %}
<!-- Kommentar unter der Überschrift 
Willkomen im Admin-Center! <br />
Hier können sie die Datenbank und alle Meldungen verwalten. <br />
Klicken sie dazu auf die unten aufgeführten Optionen! <br />-->
{%endblock text %} 
{% block content %}
<!-- Inhalt im weißen Feld -->
<div class="grid grid-cols-5 grid-rows-6 gap-4 m-3
	    h-screen"">
  <div class="border-4 rounded-md border-gray-200
	      col-span-3 row-span-6 bg-gray-200
	      hover:shadow-xl duration-500
	      p-4"> 
    <p >Übersicht über die Benutzer und ihre Berechtigungen<p>
  </div>
  <div class="border-4 rounded-md border-gray-200
	      col-span-2 row-span-2 bg-gray-200
	      hover:shadow-xl duration-500
	      p-4"> 
    Filter auswählen und anwenden.
  </div>
  <div class="border-4 rounded-md border-gray-200
	      col-span-2 row-span-2 bg-gray-200
	      hover:shadow-xl duration-500
	      p-4">
    
    <p>Optionen wie Export Selected, Export All, Bearbeiten, etc.</p>

    <button type="button"
	    data-te-ripple-init
	    data-te-ripple-color="light"
	    class="inline-block rounded bg-primary
		   px-6 pb-2 pt-2.5 text-xs
		   bg-green-700 font-bold text-white
		   hover:bg-green-500 duration-500"
	    onclick="window.location.href = '/admin/export/db2csv'"> 
      Export: CSV
    </button>
  </div>
    <button class="rounded-md bg-green-900 hover:shadow-xl
		   hover:bg-green-700 duration-500
		   text-white font-bold"
	    onclick="window.location.href = '/admin';"> 
      Meldungen anzeigen
    </button>
    <button class="rounded-md bg-green-900 hover:shadow-xl
		   hover:bg-green-700 duration-500
		   text-white font-bold"
	    onclick="window.location.href = '/admin/log';"> 
      Letzte Änderungen anzeigen
    </button>

</div>
{% endblock content %}
