{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Review neuer Meldungen{% endblock title %}
{% block content %}
<!--Admin Sample Page-->
<div class="container px-4 py-2 mx-auto">

  <form action="http://localhost:5000/reviewer"
	method="post">
  <p>ID eingeben (min: 2, max: 537):</p>
  <p><input type="text" name="id" /></p>
  <p class="pt-4"><input type="submit" value="submit"
	    class="inline-block rounded  px-6 pb-2 pt-2.5 text-xs
		   font-medium uppercase leading-normal text-white
		   shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150
		   ease-in-out hover:bg-primary-600 bg-green-900"/>
  </p>
  <dl>
    {{ render_field(form.user_id)}}
    {{ render_field(form.longitude) }}
    {{ render_field(form.latitude) }}
    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
  </dl>
  <!--p><input type=submit value=Register-->
</form>
  <p class="pt-6">
  {%for k, v in result.items() %}
    {{k}} : [{{v}}] <br/>
  {%endfor %}
  </p>
</div>

{% endblock content %}
