alabaster==0.7.12
alembic==1.9.1
attrs==22.2.0
Babel==2.11.0
beautifulsoup4==4.11.1
certifi==2022.12.7
charset-normalizer==2.1.1
colorama==0.4.6
coverage==7.0.4
docutils==0.19
exceptiongroup==1.1.0
furo==2022.12.7
greenlet==2.0.1
hupper==1.11
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.2
livereload==2.6.3
Mako==1.2.4
-e git+https://gitlab.com/opendata-apps/mantis.git@75ab0e783ed80711639167cf5c559d50fa9ad969#egg=mantis&subdirectory=src\mantis
MarkupSafe==2.1.1
packaging==22.0
PasteDeploy==3.0.1
plaster==1.1.2
plaster-pastedeploy==1.0.1
pluggy==1.0.0
Pygments==2.14.0
pyramid==2.0
pyramid-debugtoolbar==4.10
pyramid-jinja2==2.10
pyramid-mako==1.1.0
pyramid-retry==2.1.1
pyramid-tm==2.5
pytest==7.2.0
pytest-cov==4.0.0
pytz==2022.7
requests==2.28.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==6.1.2
sphinx-autobuild==2021.3.14
sphinx-basic-ng==1.0.0b1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib.applehelp==1.0.3
SQLAlchemy==1.4.46
tomli==2.0.1
tornado==6.2
transaction==3.0.1
translationstring==1.4
urllib3==1.26.13
venusian==3.0.0
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
zope.deprecation==4.4.0
zope.interface==5.5.2
zope.sqlalchemy==1.6
