{% extends "layout.jinja2" %}

{% block title %} <!-- Titel der Seite -->
  Admin- Center
{% endblock title %}

{% block text %}  <!-- Kommentar unter der Überschrift -->
  Willkomen im Admin-Center! <br>
  Hier können sie die Datenbank und alle Meldungen verwalten. <br>
  Klicken sie dazu auf die unten aufgeführten Optionen! <br>
{%endblock text %}

{% block content %} <!-- Inhalt im weißen Feld -->
  <div class="content flex-auto flex-row columns-2"> 
    <div class="">
      <button class="border-y border-t border-black m-1 text-left w-64 text-black rounded-b-lg py-1 px-1 font-bold hover:bg-green-700 hover:text-white duration-300"> <a href="adminSubsites/submissions"> Einsendungen verwalten > </a> </button> <br>
      <button class="border-y border-t border-black m-1 text-left w-64 text-black rounded-b-lg py-1 px-1 font-bold hover:bg-green-700 hover:text-white duration-300"> <a href="adminSubsites/statistics"> Auswertungen > </a> </button> <br> 
      <button class="border-y border-t border-black m-1 text-left w-64 text-black rounded-b-lg py-1 px-1 font-bold hover:bg-green-700 hover:text-white duration-300"> <a href="adminSubsites/userAdministration"> Benutzerverwaltung > </a> </button> <br>
      <button class="border-y border-t border-black m-1 text-left w-64 text-black rounded-b-lg py-1 px-1 font-bold hover:bg-green-700 hover:text-white duration-300"> <a href="adminSubsites/log"> Letzte Änderungen > </a> </button> <br>
    </div>

    <div>
    {% block subcontent %}
  
    {% endblock %}
    </div>

  </div>
{% endblock content %}
