{% extends "layout.jinja2" %}

{% block title %}Home{% endblock title %}
{% block text %}Consequat ea duis officia elit nostrud Lorem elit quis ex esse nostrud deserunt elit. Laboris{%endblock
text%}

{% block content %}
<!--! Content Start-->
<div class="container px-4 py-8 mx-auto">
  <div class="basis-1/4">01</div>

  <div class="basis-1/2">
    <div class="content">
      <h1>
        <span class="font-semi-bold">Pyramid</span>
        <span class="smaller">Starter project</span>
      </h1>
      <p class="lead">
        Welcome to <span class="font-normal">{{ project }}</span>, a&nbsp;Pyramid application
        generated&nbsp;by<br /><span class="font-normal">Cookiecutter</span>.
      </p>
    </div>
  </div>

  <div class="basis-1/4">03</div>
  {% endblock content %}
</div>