{% extends "layout.jinja2" %}

{% block title %}Home{% endblock title %}
{% block text %}Consequat ea duis officia elit nostrud Lorem elit quis ex esse nostrud deserunt elit. Laboris{%endblock
text%}

{% block content %}
<!--! Content Start-->
<section class="container grid gap-8 px-4 py-8 mx-auto lg:grid-cols-3">
  <div class="flex flex-col justify-between lg:col-span-1">
    <h2 class="mb-4 text-2xl font-extrabold">Gottesanbeterin1</h2>
    <hr class="w-20 h-1 mb-8 bg-green-600" />
    <p class="text-gray-700">Lorem ipsum dolor sit amet</p>
    <hr class="w-20 h-1 mt-8 bg-green-600" />
  </div>
  <div class="flex flex-col justify-between lg:col-span-2">
    <h2 class="mb-4 text-2xl font-extrabold">Gottesanbeterin2</h2>
    <p class="text-gray-700">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
</section>
{% endblock content %}