{% extends "layout.jinja2" %}

{% block content %}
  <!--! Content Start-->
  <!-- Main Content on the left-->
  <div class="container px-4 py-8 mx-auto">
    <div class="grid grid-cols-2 gap-8">
      <div class="col-span-1">
        <h2 class="mb-4 text-2xl font-extrabold">Heading 1</h2>
        <!-- Green divider under heading -->
        <div class="w-20 h-1 mb-8 bg-green-600"></div>
        <p class="text-gray-700">Placeholder text goes here.</p>
        <!-- Green divider under text -->
        <div class="w-20 h-1 mt-8 bg-green-600"></div>
      </div>
      <!-- Right Column -->
      <div class="col-span-2">
        <h2 class="mb-4 text-2xl font-extrabold">Heading 2</h2>
        <!-- Green divider under heading -->
      </div>
    </div>
  </div>
{% endblock content %}

