{% extends "layout.jinja2" %}

{% block title %}Impressum{% endblock title %}
{% block text %}
Die Landeshauptstadt Potsdam ist eine Körperschaft des Öffentlichen Rechts.<br>
Sie wird vertreten durch den Oberbürgermeister Mike Schubert.<br>
Das Naturkundemuseum Potsdam gehört als Fachbereich zum zum Geschäftsbereich<br>
Bildung, Kultur und Sport.
{%endblock
text%}

{% block content %}
<div class="content">
<p class="font-bold underline"> Herausgeber: </p>
Landeshauptstadt Potsdam<br>
Der Oberbürgermeister<br>
Geschäftsbereich Bildung, Kultur und Sport<br>
Fachbereich Kultur und Museum<br>
Bereich Naturkundemuseum Potsdam<br>
Friedrich-Ebert-Straße 79/81<br>
14469 Potsdam<br>
<br>
Telefon: +49 331 289-0<br>
Telefax: +49 331 289-1155<br>
E-Mail: Poststelle@Rathaus.Potsdam.de<br>
<br>
Inhaltlich Verantwortlich für den Gesamtauftritt gemäß § 5 TMG und § 55 RStV:<br>
Dr. Jobst Pfaender, Direktor des Naturkundemuseums Potsdam<br>
E-Mail: Naturkundemuseum@Rathaus.Potsdam.de<br>
<br>
Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:<br>
DE 138408386<br>
<br>
<p class="font-bold underline"> Technische Betreuung: </p>
werk21 GmbH<br>
Krausnickstraße 3<br>
10115 Berlin (Mitte)<br>
www.werk21.de<br>
<br>
<p class="font-bold underline"> Gestaltung: </p>
kontur networx GmbH<br>
Albrechtstr. 18<br>
10117 Berlin<br>
www.kontur-networx.de<br>
<br>
<p class="font-bold underline">Hosting:</p>
netzhaus AG<br>
Ziolkowskistr. 8<br>
14480 Potsdam<br>
www.netzhaus.ag<br>
<br>
<p class="font-bold underline">Copyright:</p>
Die Landeshauptstadt Potsdam ist alleiniger Inhaber des Domainnamens "naturkundemuseum-potsdam.de".<br>
Alle Rechte an den Seiten einschließlich der Fotos und Texte liegen bei der Landeshauptstadt Potsdam bzw. dem Fachbereich Naturkundemuseum Potsdam.<br>
Eine Nachnutzung, gleich welcher Art und auch auszugsweise, bedarf der Genehmigung des Fachbereiches Naturkundemuseums Potsdam.<br>
<br>
<p class="font-bold underline">Haftungsausschluss:</p>
Wir bemühen uns, auf dieser Website richtige und vollständige Informationen zur Verfügung zu stellen.<br>
Wir übernehmen jedoch keine Haftung oder Garantie für die Aktualität, Richtigkeit oder Vollständigkeit der auf dieser Seite bereitgestellten Informationen.<br>
Namentlich gezeichnete Beiträge geben nicht zwangsläufig die Meinung des Herausgebers wieder. Wir haben auf unserer Seite Links zu anderen Seiten im Internet gelegt.<br>
Für alle diese Links gilt: Für den Inhalt von Seiten, auf die verlinkt wurde, sind ausschließlich die entsprechenden Firmen, Organisationen und Personen verantwortlich.<br>
Wir erklären ausdrücklich, dass wir keinen Einfluss auf die Gestaltung und die Inhalte der verlinkten Seiten haben.<br>
Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten aller verlinkten Seiten und machen uns Ihre Inhalte nicht zu Eigen.<br>
Diese Erklärung gilt für alle auf unserer Homepage existierenden Links.<br>
Datenschutzerklärung<br>
<br>
Hier gelangen Sie zur ausführlichen Datenschutzerklärung. <br>
<br>
Die Landeshauptstadt Potsdam verwendet als Drittanbieter Google Techniken, die die Seite "Datenschutzerklärung & Nutzungsbedingungen" erläutert.<br>
Interessenbezogene Werbung lässt sich entsprechend einer Anleitung deaktivieren.<br>
<br>
Bei jedem Zugriff eines Nutzers auf eine Seite aus dem Angebot der Landeshauptstadt Potsdam erfolgt automatisch ein Zugriff auf eine eigene Matomo-Instanz (früher Piwik) auf dem Server Potsdams.<br>
Die Landeshauptstadt Potsdam bildet Statistiken aus den letzten fünfhundert und um ein Byte gekürzten IP-Adressen der Rechner, von denen Anfragen abgeschickt wurden.<br>
Es erfolgt also eine sofortige Anonymisierung dieser IP-Adressen; der Protokollsatz wird somit reduziert.<br>
Diese Daten sind damit nicht personenbezogen, und es lässt sich nicht mehr nachvollziehen, welcher Nutzer welche Daten abgerufen hat.<br>
Personenbezogene Nutzerprofile können daher nicht gebildet werden. Eine Weitergabe personenbezogener Daten an Dritte findet nicht statt.<br>
Ansonsten verwendet diese Seite keine Java-Applets, Active-X-Controls oder andere Techniken, die dazu dienen, das Zugriffsverhalten der Nutzer nachvollziehen zu können.<br>
<br>
<p class="font-bold underline"> Als Einschränkung bezüglich externer Inhalte gelten: </p>
1. Verwenden normale Nutzer ein Kontakt-Formular, werden diese Adressfeld-Daten versandt.<br>
<br>
2. Wenn Nutzer Social-Media-Anwendungen verwenden, gelten die Datenschutzerklärungen der Anwendung.<br>
<br>
<p class="font-bold underline"> Hinweise zur elektronischen Kommunikation: </p>
Die Landeshauptstadt Potsdam hat den elektronischen Zugang für E-Mails mit qualifizierter elektronischer Signatur gem. eGovernment-Gesetz eröffnet.<br>
Eine durch Rechtsvorschrift angeordnete Schriftform kann, soweit nicht durch Rechtsvorschrift etwas anderes bestimmt ist, durch die elektronische Form ersetzt werden.<br>
Die elektronische Form entwickelt die gleiche Rechtswirkung wie die unterschriebene Papierform (Schriftform).<br>
<br>
<p class="font-bold underline"> Bitte beachten Sie für die Übermittlung Ihrer qualifiziert elektronisch signierten Dokumente die folgenden Hinweise: </p>
    E-Mails mit qualifiziert elektronisch signiertem Anhang senden Sie bitte ausschließlich an poststelle@rathaus.potsdam.de,<br>
    die Landeshauptstadt Potsdam akzeptiert nur Signaturen, die mit dem Zertifikat eines bei der Bundesnetzagentur akkreditierten Zertifizierungsdienstanbieters erstellt wurden.<br>
    Nähere Informationen zu elektronischen Signaturen nach dem Signaturgesetz erhalten Sie auf der Website des Bundesamts für Sicherheit in der Informationstechnik sowie der Bundesnetzagentur,<br>
    als Dateiformat werden ausschließlich pdf/a-Dokumente mit qualifizierter elektronischer Signatur angenommen,<br>
    die Gesamtgröße der E-Mail inkl. Anhang ist auf 5MB limitiert,<br>
    die Landeshauptstadt Potsdam unterstützt kein Verschlüsselungsverfahren,<br>
    geben Sie bitte die postalische Adresse des Absenders und eine Bezeichnung des gewünschten Empfängers, ggf. mit einem Aktenzeichen an.<br>
    <br>
Die Landeshauptstadt Potsdam bietet darüber hinaus eine Vielzahl von Online-Diensten an. Diese finden Sie hier.<br>
Lesen Sie auch<br>
<br>
    https://policies.google.com/privacy?hl=de<br>
    http://www.google.com/ads/preferences<br>
    https://www.google.com/adsense/support/bin/answer.py?answer=100557&hl=de<br>
    <br>
</div>
{% endblock content %}
