<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Mantis Projekt</title>
    <link
      rel="shortcut icon"
      href="{{ request.static_url('mantis:static/pyramid-16x16.png') }}"
    />
    <link
      href="{{ request.static_url('mantis:static/tailwind.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ request.static_url('mantis:static/theme.css') }}"
      rel="stylesheet"
    />
  </head>

  <body class="antialiased">
    <div>
      <!-- Navbar Start -->
      <nav
        class="px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600"
      >
        <div
          class="container flex flex-wrap items-center justify-between mx-auto"
        >
          <a href="#" class="flex items-center">
            <img
              src="{{ request.static_url('mantis:static/images/logo.png') }}"
              class="h-6 mr-3 sm:h-9"
              alt="Mantis Projekt Logo"
            />
            <span
              class="self-center text-xl font-extrabold whitespace-nowrap dark:text-white"
              >Mantis Projekt</span
            >
          </a>
          <div class="flex md:order-2">
            <button
              type="button"
              class="text-white bg-green-800 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Melden!
            </button>
            <button
              data-collapse-toggle="navbar-sticky"
              type="button"
              class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-sticky"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
            id="navbar-sticky"
          >
            <div style="text-align: right"></div>
            <ul
              class="bg-green-900 flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-green"
            >
              <li>
                <a
                  href="#"
                  class="block py-2 pl-3 pr-4 text-white font-extrabold rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >FAQ</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block py-2 pl-3 pr-4 text-white font-extrabold rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Kontakt</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block py-2 pl-3 pr-4 text-white font-extrabold rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Impressum</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block py-2 pl-3 pr-4 text-white font-extrabold rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-green-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                  >Datenschutz</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Navbar End -->

      <script>
        const navbarToggler = document.querySelector("[data-collapse-toggle]");

        navbarToggler.addEventListener("click", function () {
          const target = document.getElementById(
            this.getAttribute("aria-controls")
          );
          target.classList.toggle("hidden");
          target.classList.toggle("flex");
          this.setAttribute(
            "aria-expanded",
            this.getAttribute("aria-expanded") === "false" ? "true" : "false"
          );
        });

        const links = document.querySelectorAll("#navbar-sticky a");

        links.forEach((link) => {
          link.addEventListener("click", function () {
            const target = document.getElementById(
              navbarToggler.getAttribute("aria-controls")
            );
            target.classList.add("hidden");
            target.classList.remove("flex");
            navbarToggler.setAttribute("aria-expanded", "false");
          });
        });
      </script>
    </div>

    <!--!Green Content Start-->
    <div class="grid grid-cols-1 md:grid-cols-2 bg-green-900 p-10">
      <div class="block md:flex items-center h-full">
        <!--responsive Picture-->
        <img
          src="{{ request.static_url('mantis:static/images/topBar.jpg') }}"
          alt="Image"
          class="object-center rounded-lg"
        />
      </div>

      <div class="p-10 w-full text-white">
        <h1 class="mb-10 text-6xl font-bold">
          {% block title %} {% endblock title %}
        </h1>
        <p class="mb-6 text-lg">{% block text %} {% endblock text %}</p>
        <!--todo add pages where no report button should appear-->
        {% if request.path == '/' %}
        <a href="/newitem">
          <button
            class="transition duration-500 ease-in-out bg-green-800 hover:bg-green-700 px-8 py-4 mr-4 font-extrabold text-white rounded-md text-1xl"
          >
            Melden
          </button>
        </a>
        {% endif %}
      </div>
    </div>
    <!--! Green Content Stop-->

    <!--! Whhite Content Start-->
    <div class="flex flex-wrap">
      <div class="flex-auto">{% block left%} {%endblock%}</div>

      <div class="flex-auto">{% block content %} {% endblock content %}</div>

      <div class="flex-auto">{% block right%} {%endblock%}</div>
    </div>
    <!--! White Content End-->

    <!--! Start Footer -->
    <!--https://tailwindcomponents.com/component/footer-5-->
    <footer class="relative bg-gray-200 pt-8 pb-6">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl fonat-semibold text-blueGray-700">
              Naturkunde Museum Potsdam
            </h4>
            <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
              Wir sind ein Museum für Naturkunde und Naturgeschichte in Potsdam.
              Wir zeigen die Vielfalt der Natur und ihre Geschichte.
            </h5>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-semibold mb-2"
                  >Useful Links</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/admin"
                      >Admin</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >GitLab</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/reportanissue"
                      >Report an Issue</a
                    >
                  </li>
                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-semibold mb-2"
                  >Other Resources</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >MIT License</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-blueGray-300" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
              Copyright © <span id="get-current-year">2023</span
              ><a class="text-blueGray-500 hover:text-gray-800" target="_blank">
                Ich bin schön
              </a>
              <a class="text-blueGray-500 hover:text-blueGray-800">Bananen</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
