<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mantis Projekt</title>
    <link
      rel="shortcut icon"
      href="{{ request.static_url('mantis:static/pyramid-16x16.png') }}"
    />
    <link
      href="{{ request.static_url('mantis:static/tailwind.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ request.static_url('mantis:static/theme.css') }}"
      rel="stylesheet"
    />
  </head>

  <body class="antialiased">
    <div>
      <!-- Navbar Start https://flowbite.com/docs/components/navbar/-->
      <nav
        class="fixed z-50 top-0 left-0 w-full bg-green-800 bg-opacity-90 blur-md"
      >
        <div
          class="container px-4 py-3 mx-auto flex justify-between items-center"
        >
          <a href="#" class="flex items-center text-white font-extrabold">
            <img
              src="{{ request.static_url('mantis:static/images/logo.png') }}"
              alt="Mantis Projekt Logo"
              class="h-6 sm:h-9 mr-2"
            />
            <span class="text-xl">Mantis Projekt</span>
          </a>
          <div class="md:hidden flex items-center">
            <a
              href="#"
              class="inline-block bg-green-500 hover:bg-green-600 py-2 px-4 text-white font-medium rounded-md transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110"
            >
              Melden!
            </a>

            <button class="mobile-menu-button ml-10">
              <svg
                class="w-6 h-6 text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                ></path>
              </svg>
            </button>
          </div>

          <div class="hidden md:block">
            <div class="hidden md:block flex items-center">
              <a
                href="/faq"
                class="text-white hover:text-green-300 text-sm md:text-base font-medium mr-5"
              >
                FAQ
              </a>
              <a
                href="#"
                class="text-white hover:text-green-300 text-sm md:text-base font-medium mr-5"
              >
                Kontakt
              </a>
              <a
                href="#"
                class="text-white hover:text-green-300 text-sm md:text-base font-medium mr-5"
              >
                Impressum
              </a>
              <a
                href="#"
                class="inline-block bg-green-500 hover:bg-green-600 py-2 px-4 text-white font-medium rounded-md transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-110"
              >
                Melden!
              </a>
            </div>
          </div>
        </div>
        <div class="mobile-menu hidden md:hidden">
          <div class="flex flex-col justify-center items-center w-full">
            <a
              href="/faq"
              class="text-white hover:text-green-300 text-sm md:text-base font-medium my-3"
            >
              FAQ
            </a>
            <a
              href="#"
              class="text-white hover:text-green-300 text-sm md:text-base font-medium my-3"
            >
              Kontakt
            </a>
            <a
              href="#"
              class="text-white hover:text-green-300 text-sm md:text-base font-medium my-3"
            >
              Impressum
            </a>
          </div>
        </div>
      </nav>

      <!-- Navbar End -->

      <script>
        const mobileMenuButton = document.querySelector(".mobile-menu-button");
        const mobileMenu = document.querySelector(".mobile-menu");

        mobileMenuButton.addEventListener("click", function () {
          if (mobileMenu.classList.contains("hidden")) {
            mobileMenu.classList.remove("hidden");
          } else {
            mobileMenu.classList.add("hidden");
          }
        });

        window.addEventListener("scroll", function () {
          const navbar = document.querySelector("nav");
          if (window.scrollY > 0) {
            navbar.classList.add("shadow-lg");
          } else {
            navbar.classList.remove("shadow-lg");
          }
        });
      </script>
    </div>

    <!--!Green Content Start-->
    <div class="pt-20 grid grid-cols-1 md:grid-cols-2 bg-green-900 p-10">
      <div class="block md:flex items-center h-full">
        <!--responsive Picture-->
        <img
          src="{{ request.static_url('mantis:static/images/topBar.jpg') }}"
          alt="Image"
          class="object-center rounded-lg"
        />
      </div>

      <div class="p-10 w-full text-white">
        <h1 class="mb-10 text-6xl font-bold">
          {% block title %} {% endblock title %}
        </h1>
        <p class="mb-6 text-lg">{% block text %} {% endblock text %}</p>
        <!--todo add pages where no report button should appear-->
        {% if request.path == '/' %}
        <a href="/newitem">
          <button
            class="transition duration-500 ease-in-out bg-green-800 hover:bg-green-700 px-8 py-4 mr-4 font-extrabold text-white rounded-md text-1xl"
          >
            Melden
          </button>
        </a>
        {% endif %}
      </div>
    </div>
    <!--! Green Content Stop-->

    <!--! Whhite Content Start-->
    <div class="flex flex-wrap">
      <div class="flex-auto">{% block left%} {%endblock%}</div>

      <div class="flex-auto">{% block content %} {% endblock content %}</div>

      <div class="flex-auto">{% block right%} {%endblock%}</div>
    </div>
    <!--! White Content End-->

    <!--! Start Footer -->
    <!--https://tailwindcomponents.com/component/footer-5-->
    <footer class="relative bg-gray-200 pt-8 pb-6 footer">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap text-left lg:text-left">
          <div class="w-full lg:w-6/12 px-4">
            <h4 class="text-3xl fonat-semibold text-blueGray-700">
              Naturkunde Museum Potsdam
            </h4>
            <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
              Wir sind ein Museum für Naturkunde und Naturgeschichte in Potsdam.
              Wir zeigen die Vielfalt der Natur und ihre Geschichte.
            </h5>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="flex flex-wrap items-top mb-6">
              <div class="w-full lg:w-4/12 px-4 ml-auto">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-semibold mb-2"
                  >Useful Links</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >About Us</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/admin"
                      >Admin</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >GitLab</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/reportanissue"
                      >Report an Issue</a
                    >
                  </li>
                </ul>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <span
                  class="block uppercase text-blueGray-500 text-sm font-semibold mb-2"
                  >Other Resources</span
                >
                <ul class="list-unstyled">
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >MIT License</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >Terms &amp; Conditions</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >Privacy Policy</a
                    >
                  </li>
                  <li>
                    <a
                      class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                      href="/#"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-6 border-blueGray-300" />
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
              Copyright © <span id="get-current-year">2023</span
              ><a class="text-blueGray-500 hover:text-gray-800" target="_blank">
                P22
              </a>
              <a class="text-blueGray-500 hover:text-blueGray-800">ZITAU</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
