{% extends "layout.html" %}
{% block meta_keywords %}
Gottesanbeterin Bestimmung, Mantis religiosa Identifikation, Merkmale, Unterscheidung, Brandenburg, Berlin
{% endblock %}

{% block page_title %}Gottesanbeterin Bestimmung | Merkmale & Bestimmungschlüssel {% endblock %}
{% block title %}Bestimmungschlüssel{% endblock title %}
{% block head %}
<link href="{{ url_for('static', filename='lb/css/lightbox.min.css')}}" rel="stylesheet">
{% endblock head %}
{% block content %}
<div class="container p-6 mx-auto lg:flex-row lg:mb-0 lg:max-w-6xl">
  <section id="meldeformular" class="p-4 pb-2 mt-8 bg-green-200 rounded-lg shadow-lg">
    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="mb-4 md:mb-0">
        <h2 class="mb-2 text-2xl font-bold text-gray-800">Bestimmungsschlüssel</h2>
        <p class="text-gray-700">
          Die Bestimmung erlaubt uns, das Auftreten und die Entwicklung im
          Jahresverlauf und in verschiedenen Jahren miteinander zu
          vergleichen.
        </p> <br />
        <p><b>Hinweis:</b>
          Bei Klick auf das Vorschaubild erscheint eine vergrößerte Ansicht.<br />
          Die Farbe des Tieres spielt für die Bestimmung <b>keine</b> Rolle!
        </p>
      </div>
    </div>
  </section>
  <p class="mt-3 text-center">
    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase bg-green-200 rounded-full last:mr-0">
      1.</span>
  </p>
  <p>
    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      1a</span>
    Charakteristisch geformtes, bräunliches Gebilde (an eine
    Walnuss erinnernd) aus einer harten, bauschaumartigen Masse. Zumeist
    im unteren Bereich strauchiger und krautiger Vegetation abgelegt, aber
    auch an Oberflächen, wie Steinen, Holz oder Metall (dann meist an der
    Unterseite)
    <br />&rArr; Oothek (Gelege) [Siehe Bild 1]
  </p>
  <p>
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      1b
    </span>
    Kein Gelege (Oothek) sondern ein Insekt mit sechs
    Beinen. Vorderbeine zu Fangbeinen umgebildet und mit Dornen
    besetzt. Fangbeine in Lauerposition unter der stark verlängerten
    Vorderbrust wie zum Gebet gehalten. Dreieckiger, sehr wendiger
    Kopf. Färbung grün, gelblich bis dunkelbraun
    <br />&rArr; Nymphe oder Vollinsekt, &rArr; gehe zu
    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase bg-green-200 rounded-full last:mr-0">
      2.</span>
  </p>
  <div>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/oothek--gross__an-vegetation.jpg')}}"
         rel="lightbox[Oothek]"
         title="Bild 1: Oothek an der Vegetation">
        <img src="{{ url_for('static', filename='images/bestimmung/oothek--klein__an-vegetation.jpg')}}"
             alt="Bild 1: Oothek an der Vegetation">
      </a>
      Bild 1: Oothek an der <br />Vegetation<br />
    </span>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/oothek--gross__an-holz.jpg')}}"
         rel="lightbox[Oothek]"
         title="Bild 2: Oothek an Holz">
        <img src="{{ url_for('static', filename='images/bestimmung/oothek--klein__an-holz.jpg')}}"
             alt="Bild 2: Oothek an Holz">
      </a>
      Bild 2: Oothek an Holz<br /><br />
    </span>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/oothek--gross__an-schiene.jpg')}}"
         rel="lightbox[Oothek]"
         title="Bild 3: Oothek an einer<br /> einer Bahnschiene">
        <img src="{{ url_for('static', filename='images/bestimmung/oothek--klein__an-schiene.jpg')}}"
             alt="Bild 3: Oothek an einer einer Bahnschiene">
      </a>
      Bild 3: Oothek an einer<br /> einer Bahnschiene
    </span>
  </div>
  <p class="text-center">
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase bg-green-200 rounded-full last:mr-0">
      2.
    </span>
  </p>
  <p>
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      2a</span>
    Flügellos bzw. mit Flügelstummeln (im Bild violett
    eingefärbt), Segmente am Hinterleib von oben sichtbar. 6 mm bis 50 mm
    lang. Meist zwischen Mai und August auftretend, in kalten Jahren auch
    bis in den September hinein zu finden. Nymphe (Larve), junges Tier
    Beispielfotos: eine sehr junge Nymphe ohne Flügel sowie eine subadulte
    Nymphe mit violett eingefärbten Flügelstummeln und gelben Pfeilen, die
    die Segmente. [Bild 4 und 5].
  </p>
  <p>
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      2b</span>
    Flügel vollständig ausgebildet, reichen bis zum
    Hinterleibsende oder darüber hinaus (im Bild violett
    eingefärbt) [Siehe Bild 6].
    <br />&rArr; Erwachsenes Tier &rArr;gehe zu
    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase bg-green-200 rounded-full last:mr-0">
      3.</span>
  </p>
  <div>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/berger-junge-nymphe-ohne-fluegelgross.jpg')}}"
         rel="lightbox[Nymphe]"
         title="Bild 4: Nymphe">
        <img src="{{ url_for('static', filename='images/bestimmung/berger-junge-nymphe-ohne-fluegelklein.jpg')}}"
             alt="Bild 4: Nymphe">
      </a>
      Bild 4: Nymphe<br /><br />
    </span>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/krueger-junge-nymphe-stummelfluegel-gross.jpg')}}"
         rel="lightbox[Nymphe]"
         title="Bild 5: Nymphe mit Stummelflügeln">
        <img src="{{ url_for('static', filename='images/bestimmung/krueger-junge-nymphe-stummelfluegel-klein.jpg')}}"
             alt="Bild 5: Nymphe mit Stummelflügeln">
      </a>
      Bild 5: Nymphe <br /> mit Stummelflügeln
    </span>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/erwachsenes-tier-gross.jpg')}}"
         rel="lightbox[Nymphe]"
         title="Bild 6: Erwachsenes Tier">
        <img src="{{ url_for('static', filename='images/bestimmung/erwachsenes-tier-klein.jpg')}}"
             alt="Bild 6: Erwachsenes Tier">
      </a>
      Bild 6: Erwachsenes Tier<br /> &nbsp;
    </span>
  </div>
  <p class="text-center">
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase bg-green-200 rounded-full last:mr-0">
      3. </span>
  </p>
  <p>
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      3a</span>
    Sehr schlankes Tier (dünner als ein Bleistift) bis ca. 60 mm
    lang. Fühler (im Bild gelb markiert) deutlich länger als die
    Vorderbrust (im Bild rot markiert). Fühler an der Basis (am Kopf)
    dicker nach vorne spitz auslaufend: Männchen. [Siehe Bild 7 und 8]
    <br />&rArr; Männchen.
  </p>
  <p class="mt-2">
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      3b</span>
    Großes und kräftiges Tier (dicker als ein Bleistift) bis
    ca. 75 mm lang. Fühler (im Bild gelb markiert) deutlich kürzer
    als die Vorderbrust (im Bild rot markiert). Fühler über die
    gesamte Länge zwirndünn. [Siehe Bild 7 und 9]
    <br />&rArr;Weibchen
  </p>
  <p class="mt-2">
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold text-pink-600 uppercase bg-pink-200 rounded-full last:mr-0">
      3c</span>
    Ich bin mir nicht sicher... &rArr; gehe zu
    <span class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase bg-green-200 rounded-full last:mr-0">
      4.</span>
  </p>
  <div>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/paerchengross.jpg')}}"
         rel="lightbox[Adult]"
         title=" Bild 7: Paerchen">
        <img src="{{ url_for('static', filename='images/bestimmung/paerchenklein.jpg')}}"
             alt="Gallery Image">
      </a>
      Bild 7: Paerchen
    </span>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/maennchen-adult-gruengross.jpg')}}"
         rel="lightbox[Adult]"
         title="Bild 8: Männchen">
        <img src="{{ url_for('static', filename='images/bestimmung/maennchen-adult-gruenklein.jpg')}}"
             alt="Bild 8: Männchen">
      </a>
      Bild 8: Männchen
    </span>
    <span class="inline-block px-2 py-1 mr-1">
      <a href="{{ url_for('static', filename='images/bestimmung/erwachsenes-weibchen-gross.jpg')}}"
         rel="lightbox[Adult]"
         title="Bild 9: Weibchen">
        <img src="{{ url_for('static', filename='images/bestimmung/erwachsenes-weibchen-klein.jpg')}}"
             alt="Bild 9: Weibchen">
      </a>
      Bild 9: Weibchen
    </span>
  </div>
  <p class="text-center">
    <span
      class="inline-block px-2 py-1 mr-1 text-xs font-semibold uppercase bg-green-200 rounded-full last:mr-0">
      4. </span>
  </p>
  <p>
    Sollten Sie sich die Bestimmung nicht zutrauen, sich nicht sicher sein oder befinden sich vielleicht
    mehrere Tiere auf Ihrem Bild, z.B. ein Pärchen, ein Gelege legendes Weibchen, eine Oothek mit
    schlüpfenden Nymphen, Kannibalismus o.ä., wählen Sie bitte „Keine Zuordnung“ aus. Wenn Sie Ihre
    E-Mail hinterlassen, melden wir uns bei Ihnen und teilen Ihnen gerne mit, was auf Ihrem Bild zu
    sehen ist.
  </p>
</div>

<script src="{{ url_for('static', filename='lb/jquery-3.3.1.slim.min.js')}}"></script>
<script src="{{ url_for('static', filename='lb/js/lightbox-plus-jquery.js')}}"></script>

{% endblock content %}
