{% extends "layout.html" %}
{% block title %}Datenschutz{% endblock title %}
{% block page_title %}Datenschutz | Mantis Religiosa Mitmachprojekt | Gottesanbeterin Gesucht{% endblock %}
{% block meta_description %}Lesen Sie unsere Datenschutzrichtlinien. Ihre Daten sind uns wichtig.{% endblock %}
{% block content %}
<div class="container max-w-5xl px-4 py-16 mx-auto">    
    <div class="mb-12">
        <h2 class="section-heading">Allgemeine Hinweise</h2>
        <p class="prose-content-spaced">
            Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Datenerfassung auf unserer Website</h2>
        <h3 class="section-subheading">Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h3>
        <p class="prose-content-spaced">
            Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Wie erfassen wir Ihre Daten?</h2>
        <p class="prose-content-spaced">
            Ihre Daten werden dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.
        </p>
        <p class="prose-content-spaced">
            Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.&thinsp;B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website aufrufen.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Wofür nutzen wir Ihre Daten?</h2>
        <p class="prose-content-spaced">
            Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Welche Rechte haben Sie bezüglich Ihrer Daten?</h2>
        <p class="prose-content-spaced">
            Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
        </p>
    </div>

    <div class="p-8 mb-12 rounded-lg shadow-xl bg-green-50">
        <h2 class="section-heading">Allgemeine Hinweise und Pflichtinformationen</h2>
        <h3 class="section-subheading">Datenschutz</h3>
        <p class="prose-content-spaced">
            Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
        </p>
        <p class="prose-content-spaced">
            Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht.
        </p>
        <p class="prose-content-spaced">
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.&thinsp;B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Hinweis zur verantwortlichen Stelle</h2>
        <p class="prose-content-spaced">
            Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
        </p>
        <p class="prose-content-spaced">
            Peter Koppatz<br>
            E-Mail: peter.koppatz@th-wildau.de<br>
            Schmerberger Weg 92a<br>
            14548 Schwielowsee/Caputh
        </p>
        <p class="prose-content-spaced">
            Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.) entscheidet.
        </p>
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="p-8 rounded-lg shadow-xl bg-green-50">
            <h3 class="section-subheading">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
            <p class="prose-content">
                Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
            </p>
        </div>
        <div class="p-8 rounded-lg shadow-xl bg-green-50">
            <h3 class="section-subheading">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
            <p class="prose-content">
                Im Falle datenschutzrechtlicher Verstöße steht den Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes Brandenburg, in dem unser Unternehmen seinen Sitz hat. Eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden:
                <a href="https://www.bfdi.bund.de" class="text-green-700 hover:underline">https://www.bfdi.bund.de</a>.
            </p>
        </div>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Recht auf Datenübertragbarkeit</h2>
        <p class="prose-content-spaced">
            Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">SSL- bzw. TLS-Verschlüsselung</h2>
        <p class="prose-content-spaced">
            Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
        </p>
        <p class="prose-content-spaced">
            Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Auskunft, Sperrung, Löschung</h2>
        <p class="prose-content-spaced">
            Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.
        </p>
    </div>

    <div class="mb-12">
        <h2 class="section-heading">Widerspruch gegen Werbe-Mails</h2>
        <p class="prose-content-spaced">
            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
        </p>
    </div>
</div>
{% endblock content %}
