{% extends "layout.html" %} {% block title %}FAQ{% endblock title %} 
{% block content %}

<div class="container px-4 py-2 mx-auto">
  <div class="flex flex-wrap">
    <div class="px-2 mb-4">
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Muss ich mich für meine Meldung anmelden oder registrieren?
        </summary>
        <!-- TODO: Remove dounble classes -->
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Nein, eine Registrierung oder anmeldung ist nicht nötig.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Wer kann mitmachen?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Mitmachen können Kinder, Jugendliche oder erwachsene, die Interesse haben, an diesem Forschungsprojekt zu beteiligen.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Wie kann ich mitmachen?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Geben Sie bitte in das Meldeformular das Datum Ihrer Beobachtung ein, markieren Sie auf der Karte den Fundort, und geben Sie den Findernamen an.
            Wenn Sie mögen, können Sie sich mit dem Bestimmungsschlüssel das Geschlecht und das Entwicklungsstadium Ihrer Gottesanbeterin selbst bestimmen.
            Wenn Sie eine Rückantwort wünschen, können Sie auch Ihre E-Mailadresse angeben.
            Am Ende laden Sie bitte ein Foto des Tieres hoch. Mehr brauchen Sie nicht zu tun.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Kann ich auch Gottesanbeterinnen außerhalb von Berlin und Brandenburg melden?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Ja. Der Fokus des Projektes liegt zwar auf Nachweisen der Gottesanbeterin in Berlin und Brandenburg.
            Weitere Funde aus Deutschland können aber auch gemeldet werden.
            Diese werden in der bundesweiten Erfassung der Art berücksichtigt
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Kann ich auch Beobachtungen aus vorherigen jahren melden?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Sehr gerne. Durch die Angabe des Funddatums, können wir Ihren Fund zeitlich genau einordnen.
             Funde aus vorherigen Jahren vervollständigen das Bild der Verbreitung und Ausbreitung der Art und sind somit sehr wertvoll.
             Schauen Sie gerne auch Ihre Fotoarchive durch. Dort könnten möglicherweise Fotos des interessanten Tieres verborgen sein.
             In den Dateieigenschaften der Bilder finden Sie das Aufnahmedatum, welches mit dem Funddatum identisch ist.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Wonach soll ich schauen?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Jegliche Nachweise der gut getarnten Lauerjägerin sind interessant.
            Neben den Nymphen und erwachsenen Tieren sind die Eigelege (Ootheken) ein wichtiger Hinweis auf die Fortpflanzung (Reproduktion) der Art.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Wo soll ich suchen?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Die Europäische Gottesanbeterin ist eine Wärme und Sonne liebende Art.
            Sie kommt in gut besonntem Trockenrasenoffenland mit geringem Strauchbewuchs vor.
            Sie lebt im hohen Gras, an Stauden aber auch auf dem Boden.
            In Berlin und Brandenburg wurde die Art z.B. auf Brachen, an stillgelegten Bahntrassen, auf Truppenübungsplätzen und auf alten Tagebauflächen nachgewiesen.
            Interessanter Weise werden auch viele Funde im urbanen Raum gemacht. So wurde Sie in Innenstädten, auf Balkonen und in Gärten gefunden.
            Die Tiere werden vom Licht angelockt und fliegen manchmal auch in offenstehende Fenster und Türen ein.
            Die Nymphen kommen im gleichen Habitat vor und führen dieselbe Lebensweise wie ihre Eltern.
            In geschlossenen Wäldern kommt sie bei uns nicht vor.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Muss ich etwas unternehmen, wenn ich eine Gottesanbeterin finde?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Machen Sie bitte ein Foto und melden Sie uns Ihren Fund. Ansonsten brauchen Sie nichts zu tun.
            Die Gottesanbeterin ist eine geschützte Art. Lassen Sie sie bitte an Ort und Stelle sitzen.
            Sollte sich eine Gottesanbeterin in Ihre Wohnung verirrt haben, setzen Sie sie bitte nach draußen auf den Balkon,
            in den Hof oder in die Vegetation in der Nähe Ihres Hauses.
            Tiere, die Sie spät im Jahr finden, werden den Winter nicht überleben. Lassen Sie sie draußen.
            Vielleicht legen Sie noch ein Gelege, welches den Winter ohne Hilfe übersteht.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Was passiert mit meiner Meldung?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Im Naturkundemuseum Potsdam werden die Meldungen in einer Datenbank erfasst.
            Gemeinsam mit den Mantidenfreunden Berlin-Brandenburg werden anschließend Verbreitungskarten erstellt.
            Anhand der Karten kann die Ausbreitung der Art über die Jahre hinweg nachvollzogen werden.
            Die Informationen über die Entwicklungsstadien ermöglicht es uns die Entwicklung der Art in verschiedenen Jahren miteinander zu vergleichen.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Was passiert mit meinen Daten?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Mit dem neuen Meldeportal können Sie den Fundort direkt in der Karte auswählen (anklicken).
            Gespeichert werden dann nur die geographischen Koordinaten und keine persönlichen Daten, wie z.B. Adressdaten.
            Melderdaten werden vertraulich behandelt und ausschließlich projektbezogen verwendet.
          </p>
        </div>
      </details>
      <details class="p-6 rounded-lg open:bg-white open:ring-1 open:ring-black/5 open:shadow-lg" close>
        <summary class="text-3xl font-bold text-green-700">
          Das passiert mit meinen Fotos?
        </summary>
        <div class="mt-3 text-sm text-2xl leading-6 leading-10 text-slate-600">
          <p>
            Die Fotos dienen ausschließlich der Absicherung des Fundes, der Bestimmung des Geschlechtes und des Stadiums der Gottesanbeterin.
             Die Bilder werden von uns nicht weiterverwendet. Die Urheberrechte verbleiben bei Ihnen.
          </p>
        </div>
      </details>
    </div>
  </div>
</div>

{% endblock content %}