{% extends "layout.html" %}
{% block title %}Bildergalerie{% endblock title %}
{% block meta_keywords %} Auswertungen, Bilder, Gottesanbeterin, Mantis religiosa Auswertungen {% endblock %}
{% block content %}
<section class="container mx-auto mt-10">
  <h2 class="mb-6 text-3xl font-semibold text-center">Interessante Momentaufnahmen</h2>
  <div class="grid grid-cols-1 gap-6 px-2 md:grid-cols-2 md:px-4 lg:grid-cols-3 xl:px-8" >
    <div>
      <link href="{{ url_for('static', filename='lb/css/lightbox.min.css')}}" rel="stylesheet">
      <p>Hinweise zur Bedienung 
	<ul style="list-style-type:disc; padding-left:60px">
	  <li>Das Bild anklicken, Bilderserie startet...</li>
	  <li>Maus und Tastatur: Pfeil nach rechts, bl&auml;ttert vor…</li>
	  <li>Maus und Tastatur: Pfeil nach links, bl&auml;ttert zur&uuml;ck…</li>
	  <li>Mausbedienung: ESC-Taste, beendet die Bilderschau…</li>
	</ul>
      </p>
    </div>
    <div class="pl-5">
      <span id="tag-cloud">
	<a class="pl-1"
	   rel="lightbox[Mantis]"
	   title="Start der Bildserie -- Autor: Dr. Berger"
	   href="{{ url_for('static', filename='images/galerie/berger-start.webp')}}">
	  <img src="{{ url_for('static', filename='images/galerie/berger-start.webp')}}">
	</a>
      </span>
      {% for slide in bilder %}
      <span id="tag-cloud"  class="items-stretch">
	<a class="tag1"
	   rel="lightbox[Mantis]"
	   title="{{ slide.beschreibung }} <br />Autor: {{ slide.fotograph }}, <br />{{ slide.datum }}, <br />Lizenz: {{ slide.lizenz | safe}} "
	   href="{{ url_for('static', filename='images/galerie/' + slide.bildname)}}">
	</a>
      </span>
      {% endfor %}
    </div>
  </div>
</section>

<script
  src="{{ url_for('static', filename='lb/jquery-3.3.1.slim.min.js')}}">
</script>
<script
  src="{{ url_for('static', filename='lb/js/lightbox-plus-jquery.js')}}">
</script>
</div>

{% endblock content %}
