{% from "macro.html" import popover %}

{% extends "layout.html" %}
{% block title %}Bildergalerie{% endblock title %}
{% block meta_keywords %}Auswertungen, Bilder, Gottesanbeterin, Mantis religiosa Auswertungen{% endblock %}
{% block content %}
<script src="{{ url_for('static', filename='js/flow/flowbite.min.js')}}" defer></script>
<section class="container mx-auto mt-10">
  <div class="flex items-center justify-center mb-6">
    <h2 class="text-4xl font-extrabold text-center text-gray-900 sm:flex sm:flex-col sm:items-center">
      <span class="sm:hidden">Interessante<br> Momentaufnahmen</span>
      <span class="hidden sm:block">Interessante Momentaufnahmen</span>
    </h2>
    {{ popover('hinweise-popover', 'Hinweise zur Bedienung', '<ul><li>Das Bild anklicken, Bilderserie startet …</li><li>Mit Pfeil nach rechts, vorblättern …</li><li>Mit Pfeil nach links, zurückblättern …</li><li>Mit ESC-Taste, die Bilderschau beenden …</li></ul>') }}
  </div>
  <div class="grid grid-cols-1 gap-4 px-2 md:grid-cols-3 lg:grid-cols-4 xl:px-8 auto-rows-[1fr]">
    <link href="{{ url_for('static', filename='lb/css/lightbox.min.css')}}" rel="stylesheet">
    
    {% for slide in bilder %}
    <div class="aspect-w-16 aspect-h-9">
      <a href="{{ url_for('static', filename='images/galerie/' + slide.bildname)}}"
         rel="lightbox[Mantis]"
         title="{{ slide.beschreibung }} <br />Autor: {{ slide.fotograph }} <br />Funddatum: {{ slide.funddatum }} <br />Lizenz: {{ slide.lizenz | safe }}"
         class="transition-opacity duration-300 hover:opacity-75">
        <img src="{{ url_for('static', filename='images/galerie/' + slide.bildname)}}"
             alt="Gallery Image"
             class="object-cover w-full h-full rounded-lg shadow-lg">
      </a>
    </div>
    {% endfor %}
    
  </div>
</section>

<script src="{{ url_for('static', filename='lb/jquery-3.3.1.slim.min.js')}}"></script>
<script src="{{ url_for('static', filename='lb/js/lightbox-plus-jquery.js')}}"></script>

{% endblock content %}
