{% extends "layout.html" %}

{% block title %}Bildergalerie{% endblock title %}

{% block meta_keywords %} Auswertungen, Bilder, Gottesanbeterin, Mantis religiosa Auswertungen {% endblock %}

{% block text %} Bildergalerie {% endblock text %}

{% block content %}
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% set current_index = current_index|default(0) %}

{% if bilder|length > 0 %}
    {% set max_index = bilder|length - 1 %}
    {% if current_index < 0 %}
        {% set current_index = max_index + current_index + 1 %}
    {% endif %}
    {% if current_index > max_index %}
        {% set current_index = 0 %}
    {% endif %}
{% endif %}

<section class="container mx-auto mt-10">
    <h2 class="mb-6 text-3xl font-semibold text-center">Bilder von Fundmeldungen</h2>
    <div class="container flex flex-row p-6 justify-center items-center">
        <a href="{{ url_for('main.gallerie_navigation', direction='left', current_index=current_index) }}" class="arrow-link">
            <i class="fas fa-arrow-left arrow-icon"></i>
        </a>
        <div class="object-fill bg-white rounded-lg shadow-md p-4 mx-4 flex flex-col items-center">
            <!-- Anzeige des Bildes -->
            <img src="{{ url_for('main.gallerie_bilder', filename=bilder[current_index].bildname) }}" alt="Bild" style="max-width: 100%; max-height: 50vh;">
            <div class="mt-2">
                <p>Fotograf: {{ bilder[current_index].fotograph }}</p>
                <div class="license-info">
                    <img src="/static/images/{{ bilder[current_index].lizenz }}.webp" alt="Lizenz-Icon" style="width: 100px;">
                </div>            
                <p>Datum: {{ bilder[current_index].datum }}</p>
                <p>Beschreibung: {{ bilder[current_index].bildbeschreibung }}</p>
            </div>
        </div>
        <a href="{{ url_for('main.gallerie_navigation', direction='right', current_index=current_index) }}" class="arrow-link">
            <i class="fas fa-arrow-right arrow-icon"></i>
        </a>
    </div>
</section>
<style>
    .arrow-link {
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-decoration: none;
        color: #000;
    }

    .arrow-icon {
        font-size: 18px;
    }
</style>
{% endblock content %}
