{% extends "layout.html" %}
{% block title %}Gallerie{% endblock title %}
{% block meta_keywords %} Bilder, Gallerie
Gottesanbeterin, Mantis religiosa Auswertungen {% endblock %}
{% block text %} Gallerie {% endblock text %}
{% block content %}
<section class="container mx-auto mt-10">
  <h2 class="mb-6 text-3xl font-semibold text-center">Bestätigte Meldungen Karte</h2>
  <div class="container flex flex-row p-6">
    <div id="map" class="object-fill h-screen bg-white rounded-lg shadow-md grow auto-rows-max"></div>
  </div>
</section>



<script>

</script>

{% endblock content %}

