{% extends "layout.html" %}
{% block title %}Projektbeschreibung{% endblock title %}

{% block content %}

<!--Projektbeschreibung section -->
<section id="Projektbeschreibung" class="relative pt-16">
  <div class="grid grid-cols-1 gap-6 px-2 md:grid-cols-2 md:px-4 lg:grid-cols-3 xl:px-8">

    <div class="mx-auto transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger06.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800">
          So können Sie mitmachen
        </h3>
        <p class="text-center text-gray-600">
          Machen Sie ein Foto von der Gottesanbeterin, notieren Sie den Fundort und das Datum und senden Sie uns alle
          Daten zusammen mit Ihrer Adresse. Werden Sie zum Insektenforscher und helfen Sie uns, die Verbreitung der
          Gottesanbeterin zu erfassen!
        </p>
      </div>
    </div>

    <div class="mx-auto transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger03.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800">
          Wie funktioniert das Mitmachprojekt?
        </h3>
        <p class="text-center text-gray-600">
          Im Jahr 2017 initiierten das Naturkundemuseum Potsdam und die Mantidenfreunde Berlin-Brandenburg das
          Mitmachprojekt "Gottesanbeterin gesucht!". Bürgerinnen und Bürger sind dazu aufgerufen, Funde der
          Gottesanbeterin zu melden. Über 40 Mal wurde die Gottesanbeterin in Brandenburg bereits gesichtet. Jeden
          Monat
          kommen neue Funde hinzu. Werden auch Sie zum Insektenforscher und helfen Sie dabei, die Verbreitung der
          Gottesanbeterin zu dokumentieren!
        </p>
      </div>
    </div>

    <div class="mx-auto transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger10.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800">
          Was passiert mit den Daten?
        </h3>
        <p class="text-center text-gray-600">
          Jeder Fund wird in einer Datenbank erfasst. Am Ende eines jeden Jahres wird eine Verbreitungskarte der
          Gottesanbeterin erstellt und auf der Homepage des Naturkundemuseums Potsdam veröffentlicht. Von Jahr zu Jahr
          können wir so gemeinsam die Ausbreitung der Gottesanbeterin nachverfolgen
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
