{% extends "layout.html" %}
{% block title %}Gottesanbeterin gesucht!{% endblock title %}

{% block content %}

<!--Projektbeschreibung section -->
<section id="Projektbeschreibung" class="relative pt-16">
  <div class="grid grid-cols-1 gap-6 px-2 md:grid-cols-2 md:px-4 lg:grid-cols-3 xl:px-8">

    <div class="mx-auto transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger06.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase">
          Über das Projekt
        </h3>
        <p class="text-center text-gray-600">
          Das Naturkundemuseum Potsdam und die Entomologen des Freundeskreises Mantidenfreunde
          Berlin-Brandenburg suchen nach der Europäischen Gottesanbeterin (Mantis religiosa).
          Bereits seit 2016 werden Fundmeldungen der Fangschrecke gesammelt. Dabei sind wir
          auf die Unterstützung der Brandenburger und Berliner angewiesen. Jeder ist
          aufgerufen seine Begegnungen mit der Lauerjägerin mitzuteilen. Hand in Hand mit
          Wissenschaftlern und Wissenschaftlerinnen können wir so die Ausbreitung der
          Gottesanbeterin in der Region erforschen. Siehe auch:

          <a class="block pt-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
            href="https://www.naturkundemuseum-potsdam.de/gottesanbeterin-gesucht" target="_blank">
            Naturkundemuseum Potsdam</a>
        </p>
      </div>
    </div>

    <div class="mx-auto transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger03.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase">
          Über mantis religiosa
        </h3>
        <p class="text-center text-gray-600">
          Die Europäische Gottesanbeterin ist die einzige von etwa 2.400 Fangschrecken-Arten, die in
          Deutschland vorkommt. Mit ihren unter der Vorderbrust wie zum Gebet gefalteten Vorderbeinen ist sie gut von
          anderen Insekten zu unterscheiden. Die sehr geschickte und gut getarnte Lauerjägerin ernährt sich vor allem
          von anderen Kerbtieren. Und gerade diese Lebensweise macht die Suche nach ihr so schwierig. Aus diesem Grunde
          sind wir auf Ihre Hilfe angewiesen. Die Unterstützung
          durch die Melder in den vergangenen Jahren weit über die Landesgrenzen hinaus war sehr überwältigend.

          Mehr Informationen über die Gottesanbeterin finden Sie auf dem folgenden Link:
          <a class="block pt-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800" href="/mantis-religiosa">
            Mantis Religiosa L.</a>

        </p>
      </div>
    </div>

    <div class="mx-auto transform bg-white rounded-lg shadow-md hover:-translate-y-1 hover:shadow-lg card">
      <img src="{{ url_for('static', filename='images/berger10.webp') }}" alt="Gottesanbeterin"
        class="w-full h-auto rounded-t-lg">
      <div class="px-4 py-6">
        <h3 class="mb-2 text-xl font-semibold text-center text-gray-800 uppercase">
          Was passiert mit den Daten?
        </h3>
        <p class="text-center text-gray-600">
          Jeder Fund wird in einer Datenbank erfasst. Am Ende eines jeden Jahres wird eine Verbreitungskarte der
          Gottesanbeterin erstellt und auf der Homepage des Naturkundemuseums Potsdam veröffentlicht. Von Jahr zu Jahr
          können wir so gemeinsam die Ausbreitung der Gottesanbeterin nachverfolgen.

          Weiterführende Hinweise finden Sie in der
          <a class="block pt-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800" href="/faq">
            FAQ (Häufig gestellte Fragen)</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Animated counter section -->
<!-- Animated counter section -->
<section class="py-16 ">
  <div class="container px-4 mx-auto">
    <div class="relative px-8 py-12 bg-green-800 rounded-lg shadow-lg">
      <h2 class="mb-8 text-3xl font-bold leading-tight text-center text-white">
        Wir haben bereits <br />
        <span class="text-6xl font-extrabold text-white counter">0</span> <br />
        Meldungen erhalten
      </h2>
      <p class="mb-8 text-lg text-center text-white">
        Helfen Sie uns, diese Zahl zu erhöhen!
      </p>
    </div>
  </div>
  <script>
    const counter = document.querySelector(".counter");
    let count = 0;
    const observer = new IntersectionObserver((entries) => {
      if (entries[0].isIntersecting) {
        const postCount = parseInt('{{ post_count }}'); // Retrieve the post_count from the server-side variable
        const increment = Math.ceil(postCount / '{{ post_count }}'); // Calculate the increment value based on post_count

        const intervalId = setInterval(() => {
          if (count < postCount) {
            count += increment;
            if (count > postCount) {
              count = postCount;
            }
            counter.innerText = count;
          } else {
            clearInterval(intervalId);
          }
        }, 1);
        observer.disconnect();
      }
    });
    observer.observe(counter);
  </script>

</section>


{% endblock content %}
