<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Mantis Projekt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='build/theme.css') }}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>

<body class="antialiased bg-gray-100">
  <!-- Background Image div Start -->
  <div class="topContainer">
    <!-- Navbar and Content Wrapper Start -->
    <div class="relative bg-fixed bg-center bg-no-repeat bg-cover"
      style="background-image: url('{{ url_for('static', filename='images/mantisEat.jpg') }}');">
      <!-- Navbar Start -->
      <!-- Navbar Start -->
      <nav id="navbar" class="fixed top-0 left-0 z-50 w-full transition-all duration-500 ease-in-out">
        <div class="container flex items-center justify-between px-4 py-3 mx-auto">
          <a href="/" class="flex items-center font-extrabold text-white">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Mantis Projekt Logo"
              class="h-6 mr-2 sm:h-9" />
            <span class="text-xl">Mantis Projekt</span>
          </a>
          <div class="items-center hidden md:flex">
            <a href="/" class="mr-5 text-sm font-medium text-white hover:text-green-300 md:text-base">Start</a>
            <a href="/projekt" class="mr-5 text-sm font-medium text-white hover:text-green-300 md:text-base">Projekt</a>
            <a href="/report" class="mr-5 text-sm font-medium text-white hover:text-green-300 md:text-base">Melden</a>
            <a href="/auswertungen"
              class="mr-5 text-sm font-medium text-white hover:text-green-300 md:text-base">Auswertungen</a>
            <a href="#links" class="mr-5 text-sm font-medium text-white hover:text-green-300 md:text-base">Mehr...</a>
          </div>

          <div class="flex items-center md:hidden">
            <button class="ml-10 mobile-menu-button">
              <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="hidden mobile-menu md:hidden">
          <div class="flex flex-col items-center justify-center w-full">
            <a href="/" class="w-full py-4 font-medium text-center text-white hover:bg-green-300">Start</a>
            <a href="/projekt" class="w-full py-4 font-medium text-center text-white hover:bg-green-300">Projekt</a>
            <a href="/report" class="w-full py-4 font-medium text-center text-white hover:bg-green-300">Melden</a>
            <a href="/auswertungen"
              class="w-full py-4 font-medium text-center text-white hover:bg-green-300">Auswertungen</a>
            <a href="#links" class="w-full py-4 font-medium text-center text-white hover:bg-green-300">Mehr...</a>
          </div>
        </div>
      </nav>
      <!-- Navbar End -->
      <!-- Content Start -->
      <div class="z-10 flex-wrap items-center justify-center w-full pb-1" style="position: relative;">
        <div class="absolute inset-0 flex items-center justify-center overflow-hidden">
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
            style="width: 200%; height: 200%; filter: blur(5px);">
            <path fill="rgba(255, 255, 255, 0.3)"
              d="M22.4,-29.7C35,-21.7,55.4,-23.1,59.3,-17.7C63.2,-12.2,50.8,0.1,44.6,13C38.3,25.9,38.4,39.4,32,53.2C25.6,66.9,12.8,81.1,2.3,77.9C-8.2,74.8,-16.5,54.4,-27,41.9C-37.5,29.5,-50.3,25,-53.8,16.8C-57.4,8.7,-51.7,-3.1,-48.3,-16.3C-44.9,-29.5,-43.8,-44.1,-36.1,-53.8C-28.4,-63.4,-14.2,-68.1,-4.7,-61.7C4.9,-55.3,9.8,-37.8,22.4,-29.7Z"
              transform="translate(100 100)" />
          </svg>
        </div>
        <div class="container relative px-4 pt-16 pb-5 mx-auto">
          <div class="flex flex-col items-center justify-center">
            <div class="flex items-center justify-between w-full">
              <h1 class="mb-6 text-4xl font-bold text-center text-white md:text-6xl">
                {% block title %} {% endblock title %}
              </h1>
              {% if request.path == '/' %}
              <a href="report">
                <button
                  class="px-2 py-1 text-lg font-bold text-white transition transform duration-500 ease-in-out bg-green-800 rounded-md hover:bg-green-700 active:bg-green-900 focus:outline-none focus:shadow-outline hover:scale-105 sm:px-4 sm:py-2 md:px-8 md:py-4">
                  Melden
                </button>
              </a>
              {% endif %}
            </div>
            <p class="mb-8 text-lg text-center text-white">{% block text %} {% endblock text %}</p>
          </div>
        </div>
      </div>
      <!-- Content End -->








    </div>
    <div id="overlay"></div>

    <!-- Navbar and Content Wrapper End -->
    <!-- Navbar and Content Wrapper End -->
  </div>
  <!-- Background Image div End -->
  <script>
    const mobileMenuButton = document.querySelector(".mobile-menu-button");
    const mobileMenu = document.querySelector(".mobile-menu");
    const navbar = document.querySelector("nav");

    mobileMenuButton.addEventListener("click", function () {
      if (mobileMenu.classList.contains("hidden")) {
        mobileMenu.classList.remove("hidden");
        navbar.classList.add("shadow-lg");
        navbar.classList.add("sticky-nav");
      } else {
        mobileMenu.classList.add("hidden");
        if (window.scrollY === 0) {
          navbar.classList.remove("shadow-lg");
          navbar.classList.remove("sticky-nav");
        }
      }
    });

    window.addEventListener("scroll", function () {
      if (window.scrollY > 0 && !mobileMenu.classList.contains("hidden")) {
        navbar.classList.add("shadow-lg");
        navbar.classList.add("sticky-nav");
      } else if (
        window.scrollY === 0 &&
        !mobileMenu.classList.contains("hidden")
      ) {
        navbar.classList.remove("shadow-lg");
        navbar.classList.add("sticky-nav");
      } else if (
        window.scrollY === 0 &&
        mobileMenu.classList.contains("hidden")
      ) {
        navbar.classList.remove("shadow-lg");
        navbar.classList.remove("sticky-nav");
      } else {
        navbar.classList.add("shadow-lg");
        navbar.classList.add("sticky-nav");
      }
    });
  </script>

  <!--! White Content Start-->
  <div class="z-10 flex flex-wrap mt-0 bg-gray-100">
    <div class="flex-auto">{% block content %} {% endblock content %}</div>
  </div>
  <!--! White Content End-->

  <!--! Start Footer -->
  <!--https://tailwindcomponents.com/component/footer-5-->
  <footer id="links" class="relative pt-8 pb-6 bg-gray-200 footer">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full px-4 lg:w-6/12">
          <h4 class="text-3xl fonat-semibold text-blueGray-700">
            Naturkunde Museum Potsdam
          </h4>
          <h5 class="mt-0 mb-2 text-lg text-blueGray-600">
            Wir sind ein Museum für Naturkunde und Naturgeschichte in Potsdam.
            Wir zeigen die Vielfalt der Natur und ihre Geschichte.
          </h5>
        </div>
        <div class="w-full px-4 lg:w-6/12">
          <div class="flex flex-wrap mb-6 items-top">
            <div class="w-full px-4 ml-auto lg:w-4/12">
              <span class="block mb-2 text-sm font-semibold uppercase text-blueGray-500"><u>Weitere Infos</u></span>
              <ul class="list-unstyled">
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="/aboutUs">Über
                    Uns</a>
                </li>
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="/reportanissue">Problem melden</a>
                </li>
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="https://readthedocs.org/">Dokumentation</a>
                </li>
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="/gitLab">Quellcode</a>
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800 tooltip"
                    title="Häufig gestellte Fragen" href="/faq">
                    FAQ</a>
                </li>
                </li>
              </ul>
            </div>
            <div class="w-full px-4 lg:w-4/12">
              <span class="block mb-2 text-sm font-semibold uppercase text-blueGray-500"><u>Rechtliches</u></span>
              <ul class="list-unstyled">
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="/impressum">
                    Impressum</a>
                </li>
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800" href="/lizenz">
                    Lizenz</a>
                </li>
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800 tooltip"
                    title="Allgemeine Geschäftsbedingung" href="/agb">
                    AGB</a>
                </li>
                <li>
                  <a class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="/datenschutz">Datenschutz</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300" />
      <div class="flex flex-wrap items-center justify-center md:justify-between">
        <div class="w-full px-4 mx-auto text-center md:w-4/12">
          <div class="py-1 text-sm font-semibold text-blueGray-500">
            <span id="get-current-year"></span><a class="text-blueGray-500 hover:text-gray-800"
              target="_blank">
              Naturkundemuseum Potsdam/P22 - 2023 - (License MIT)
            </a>
            <a class="text-blueGray-500 hover:text-blueGray-800"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>