{% macro popover(target, title, content, link_url=None, link_text=None) %}
<div class="relative">
    <div class="absolute bottom-0 right-0 z-50 mr-2 -mb-9">
        <button data-popover-target="{{ target }}" type="button" class="pl-2 pr-1 text-black">?</button>
    </div>
</div>
<div data-popover id="{{ target }}" role="tooltip"
    class="absolute z-20 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
    <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
        <h3 class="font-semibold text-gray-900 dark:text-white">{{ title }}</h3>
    </div>
    <div class="px-3 py-2 bg-green-100">
        <p>{{ content }}</p>
        {% if link_url and link_text %}
        <p><a href="{{ link_url }}" class="text-blue-500, underline">{{ link_text }}</a></p>
        {% endif %}
    </div>
</div>
{% endmacro %}