{% extends "layout.html" %} {% block content %}
<div class="max-w-lg mx-auto mt-8">
  <div class="p-8 bg-white rounded-lg shadow-md">
    <h1 class="mb-4 text-2xl font-semibold">Report a Mantis</h1>

    <form method="POST">
      <div class="mb-4">
        <label class="block mb-2 font-semibold text-gray-700" for="latitude">Latitude:</label>
        <input class="w-full px-3 py-2 border rounded-lg form-input focus:outline-none focus:shadow-outline" type="text"
          name="latitude" id="latitude" required />
      </div>

      <div class="mb-4">
        <label class="block mb-2 font-semibold text-gray-700" for="longitude">Longitude:</label>
        <input class="w-full px-3 py-2 border rounded-lg form-input focus:outline-none focus:shadow-outline" type="text"
          name="longitude" id="longitude" required />
      </div>

      <div class="mb-4">
        <label class="block mb-2 font-semibold text-gray-700" for="photo_url">Photo URL:</label>
        <input class="w-full px-3 py-2 border rounded-lg form-input focus:outline-none focus:shadow-outline" type="text"
          name="photo_url" id="photo_url" required />
      </div>

      <button class="px-4 py-2 font-semibold text-white bg-green-900 rounded-lg hover:bg-green-700" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
{% endblock content %}