{% extends "layout.html" %} {% block title %}
<!-- Titel der Seite -->
<a class="hover:bg-green-700 rounded-lg p-2 duration-300" href="/reportanissue">
  Problem melden
</a>
{% endblock title %} {% block text %}
<!-- Kommentar unter der Überschrift -->
Willkomen bei der Problemmeldung! <br />
Hier können sie Probleme melden. <br />
Füllen sie dazu das unten aufgeführte Formular mit möglichst genauen Angaben
aus: <br />
{%endblock text %} {% block left %}
<div class="max-w-md mx-auto my-8">
  <form class="bg-white p-6 rounded-lg">
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="subject">
        Betreff
      </label>
      <input
        class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none hover:border-green-800 hover:duration-200 focus:border-green-800"
        id="Betreff"
        type="text"
        placeholder="Bitte hier den Betreff eingeben..."
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="message">
        Problembeschreibung
      </label>
      <textarea
        class="appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none hover:border-green-800 duration-200 focus:border-green-800"
        id="Problembeschreibung"
        rows="6"
        placeholder="Bitte hier eine kurze aber genaue Beschreibung des Problems eingeben..."
      ></textarea>
    </div>
    <div class="flex justify-end">
      <button
        class="bg-green-800 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none"
        type="button"
      >
        Submit
      </button>
    </div>
  </form>
</div>

{% endblock %} {% block content %}
<div class="mt-24">
  <p class="font-mono font-bold text-xl text-left">
    <--- Bitte tragen sie in das Feld "Betreff" das Thema des Problems ein.
  </p>
  <br />
  <br />
  <p class="font-mono font-bold text-xl text-left">
    <--- Bitte tragen sie in das Feld "Problembeschreibung" eine gute und
    möglichst genaue <br />
    &nbsp&nbsp&nbsp&nbsp&nbspaber kurze Beschreibung des Problems ein.
  </p>
</div>
{% endblock %}
