{% extends "layout.html" %}
{% from "macro.html" import popover %}
{% from "macro.html" import formButton %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/cluster/MarkerCluster.Default.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/cluster/MarkerCluster.css')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/currentLocation/L.Control.Locate.min.css')}}" />
<script src="{{ url_for('static', filename='js/leaflet.js')}}"></script>
<script src="{{ url_for('static', filename='js/esri-leaflet.js')}}"></script>
<script src="{{ url_for('static', filename='js/esri-leaflet-vector.js')}}"></script>
<script src="{{ url_for('static', filename='js/exif-js.js')}}" defer></script>
<script src="{{url_for('static', filename='js/cluster/leaflet.markercluster.js')}}"></script>
<script src="{{url_for('static', filename='js/currentLocation/L.Control.Locate.min.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@tuily/heic2any@0.0.6/dist/heic2any.min.js"></script>
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block page_title %}Melden Sie Ihre Beobachtung | Mantis Religiosa Mitmachprojekt | Gottesanbeterin Gesucht{% endblock
  %}
  {% block title %}Fund melden{% endblock %}
  {% block meta_description %} Melden Sie Ihre Beobachtungen von Mantis religiosa in Deutschland. Unterstützen Sie die Forschung. {% endblock %}
  {% block content %}
  <script src="{{ url_for('static', filename='js/flow/flowbite.min.js')}}" defer></script>


<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full p-4 mx-auto max-w-7xl">
    <form action="" method="POST" enctype="multipart/form-data" id="mainForm" data-current-step="0"
      class="p-8 transition-all duration-500 bg-white shadow-xl rounded-2xl">
      {{ form.hidden_tag() }}
      <!-- Step 1: Bild-Upload -->
      <div id="step1" class="step" data-step-index="0">
        <div class="mb-4">
          <div class="flex justify-between">
            {{ form.picture.label.text }}
            {{ popover("popover-picture", "Info zum Bild-Upload",
            "Anhand des Bildes können wir Ihre Bestimmung überprüfen. Ist Ihr Fund von uns überprüft und freigegeben,
            erscheint er in der Karte. Die Bilder werden nicht weiterverwendet. Ihre Urheberrechte bleiben
            unberührt.") }}
          </div>
          <!-- !TODO: Loader für Bild-Upload -->
          <div class="flex items-center justify-center w-full">
            <label for="{{ form.picture.id }}"
              class="flex flex-col items-center justify-center w-full h-64 transition-all duration-500 ease-in-out border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100"
              ondragover="event.preventDefault();" 
              ondrop="dropHandler(event);">
              <div id="imagePreview"
                class="flex-col items-center justify-center hidden w-full h-64 overflow-hidden transition-all duration-500 ease-in-out fade-in">
                <img id="previewImage" class="object-scale-down w-full h-full" src="#"
                  alt="Preview image of the mantis">
              </div>
              <div id="uploadText"
                class="flex flex-col items-center justify-center pt-5 pb-6 transition-all duration-500 ease-in-out">
                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400 animate-bounce" fill="none"
                  stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click or drop image here...</span></p>
                <p class="text-xs text-gray-500 ">PNG, JPG, JPEG, HEIC, HEIF or WEBP (max. 12 MB)</p>
              </div>
              <div id="uploadLoader" class="flex flex-col items-center justify-center hidden w-full h-full">
                <svg class="w-10 h-10 text-green-500 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <p class="mt-2 text-sm text-gray-500">Bild wird hochgeladen...</p>
              </div>
              {{ form.picture(class="hidden", id=form.picture.id, accept="image/*") }}
            </label>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div>
            <label for="{{ form.longitude.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.longitude.label.text }}
                {{ popover("popover-longitude", "Koordinaten",
                "Der Längengrad wird automatisch angegeben, sobald Sie den Marker an der untenstehenden Karte setzen.")
                }}
              </div>
              <div class="relative">
                {{ form.longitude(class="input-field") }}
              </div>
            </label>
          </div>
          <div>
            <label for="{{ form.latitude.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.latitude.label.text }}
                {{ popover("popover-latitude", "Koordinaten",
                "Der Breitengrad wird automatisch angegeben, sobald Sie den Marker an der untenstehenden Karte setzen.")
                }}
              </div>
              <div class="relative">
                {{ form.latitude(class="input-field") }}
              </div>
            </label>
          </div>
        </div>
        <div class="col-span-full">
          <label for="map" class="block mt-1 text-sm font-semibold text-gray-600">
            <div class="flex justify-between">
              {{ "Karte: Setzen Sie den Marker in der Karte, die Koordinaten werden automatisch übernommen. Umschaltung
              zw. Satellitenbild und Kartenansicht via Symbol am rechten Rand." }}
              {{ popover("popover-map", "Karte",
              " Benutzen Sie die Zoom-Funktion (+ und - Button oder
              mittleres Mausrad), setzen Sie mit einem Klick die
              Marke. Die linke Maustaste verschiebt die Karte. Die
              Koordinaten werden dann automatisch ins Formular
              übernommen.
              Sie können die Koordinaten auch ganz
              einfach in Google Maps ermitteln. Wechselns Sie zu
              Google Maps. Suchen Sie die Stelle in der Karte und
              markieren Sie diese mit einem Rechtsklick ihrer Maus.
              Es öffnet sich ein Fenster, in dem ganz oben die
              Koordinaten angezeigt werden, z.B. 52.395952,
              13.050901. Wählen Sie die Koordinaten mit einem
              Linksklick mit der Maus an. Nun sind sie kopiert und
              können in dieses Feld eingefügt werden (Strg + V oder
              mit dem Befehl Einfügen).

              ")
              }}
            </div>
          </label>
          <div id="map" class="h-64 border shadow-md sm:h-96 lg:h-96"></div>
        </div>

        <div class="flex justify-end mt-4 space-x-2">
          {{ formButton('step1Next', 'Weiter') }}
        </div>
      </div>

      <!-- Step 2: Beschreibung Ort und Fund -->
      <div id="step2" class="hidden step" data-step-index="1">
      <h2 class="mb-2 text-2xl font-bold text-gray-800">Fundortbeschreibung zu den Koordinaten</h2>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <div>
            <label for="{{ form.street.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.street.label.text }}
                {{ popover("popover-street", "Straße",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte den Straßennamen ein.") }}
              </div>
              <div class="relative">
                {{ form.street(class="input-field") }}
              </div>
            </label>
            <label for="{{ form.state.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.state.label.text }}
                {{ popover("popover-bundesland", "Bundesland",
                "Falls der Wert nicht korrekt eingelesen wurde, ergänzen Sie bitte den Namen des Bundeslandes.") }}
              </div>
              <div class="relative">
                {{ form.state(id="state", class="input-field") }}
              </div>
            </label>
            <label for="{{ form.district.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.district.label.text }}
                {{ popover("popover-bezirk", "Landkreis/Stadtteil",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte den Landkreis/Stadtteil ein.") }}
              </div>
              <div class="relative">
                {{ form.district(id="district", class="input-field") }}
              </div>
            </label>

            <label class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.gender.label.text }}
                <a href="/bestimmung" target="_blank"
                  class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold text-blue-600 sm:text-xs hover:text-blue-800 hover:underline "
                  title="Anleitung zur Bestimmung in neuem Tab öffnen">
                  Anleitung zur Bestimmung
                </a>
                <button data-popover-target="popover-gender" type="button" class="pl-2 pr-1 text-black">
                  <svg class="w-4 h-4 text-gray-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M7.529 7.988a2.502 2.502 0 0 1 5 .191A2.441 2.441 0 0 1 10 10.582V12m-.01 3.008H10M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>
              </div>
              <div data-popover id="popover-gender" role="tooltip"
                class="absolute z-50 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 ">
                <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg ">
                  <h3 class="font-semibold text-green-900 ">
                    Entwicklungsstadium/Geschlecht
                  </h3>
                </div>
                <div class="px-3 py-2 bg-green-100">
                  <p>
                    Dieses Feld ist eine kleine Herausforderung für
                    den Melder. Trauen Sie sich zu, das Geschlecht
                    oder das Entwicklungsstadium zu bestimmen?
                    Die Merkmale für die Bestimmung sind auf
                    folgender Seite genau beschrieben:
                    <a class="block pb-2 text-sm font-semibold text-blue-600 hover:text-blueGray-800" href="/bestimmung"
                      target="_blank">
                      Link: Hilfe zur Bestimmung <br />(öffnet neuen Tab)</a>
                    In jedem Fall werden Sie nach einer Bewertung
                    durch Fachleute über das Ergebnis informiert.
                    <br />
                    Versuchen Sie es!
                  </p>
                </div>
              </div>
              <div class="relative">
                {{ form.gender(class="block w-full px-4 py-2 text-base text-gray-700 transition-colors bg-white rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent hover:bg-gray-200") }}
              </div>
            </label>
          </div>
          <div>
            <label class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.zip_code.label.text }}
                {{ popover("popover-zip", "Postleitzahl",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte die Postleitzahl ein.") }}
              </div>

            </label>
            <div class="relative font-semibold">
              {{ form.zip_code(id="zip_code", class="input-field") }}
            </div>
            <label for="{{ form.city.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.city.label.text }}
                {{ popover("popover-city", "Ort",
                "Falls der Wert nicht korrekt eingelesen wurde, geben Sie bitte den Stadtnamen ein.") }}
              </div>
              <div class="relative">
                {{ form.city(id="city", class="input-field") }}
              </div>
            </label>
            <label for="{{ form.location_description.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.location_description.label.text }}
                {{ popover("popover-fundort", "Ergänzungen Ort",
                "Wählen Sie die passende Option, ergänzen Sie eventuell im Feld sonstige Angaben.)") }}
              </div>
              <div class="relative">
                {{ form.location_description(id=form.location_description.id, class="input-field") }}
              </div>
            </label>

            <label for="{{ form.picture_description.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.picture_description.label.text }}
                {{ popover("popover-beschreibung", "Ergänzungen zum Fund",
                "Ergänzende Angaben zum Bild (max. 500 Zeichen)") }}
              </div>
              <div class="relative">
                {{ form.picture_description(
                class="input-field") }}
              </div>
            </label>
          </div>
        </div>
        <div class="flex justify-between mt-4 space-x-2">
          {{ formButton('step2Prev', 'Zurück') }}
          {{ formButton('step2Next', 'Weiter') }}
        </div>
      </div>
      <!-- Step 3: Person(en) -->
      <div id="step3" class="hidden step" data-step-index="2">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <div>
            <label for="{{ form.report_first_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.report_first_name.label.text }}
                {{ popover("popover-reportvorname", "Vorname", "Geben Sie bitte Ihren ersten Buchstaben des Vornamens
                ein. Beispiel: M. für Max") }}
              </div>
              <div class="relative">
                {{ form.report_first_name(class="input-field") }}
              </div>
            </label>
            <label for="{{ form.report_last_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.report_last_name.label.text }}
                {{ popover("popover-reportnachname", "Nachname", "Bitte geben Sie Ihren Namen wie
                angegeben ein. Die Eingabe des Meldernamens ermöglicht uns, Doppelmeldungen zu erkennen und
                zusammenzuführen") }}
              </div>
              <div class="relative">
                {{ form.report_last_name(class="input-field") }}
              </div>
            </label>
            <label for="{{ form.sighting_date.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.sighting_date.label.text }}
                {{ popover("popover-datum", "Datum", "Wählen Sie hier bitte das Funddatum.
                TT für den Tag,
                MM für den Monat und
                JJJJ für das Jahr") }}
              </div>
              <div class="relative">
                {{ form.sighting_date(class="input-field") }}
              </div>
            </label>
          </div>
          <div>
            <label for="{{ form.contact.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
              <div class="flex justify-between">
                {{ form.contact.label.text }}
                {{ popover("popover-kontakt", "Kontaktdaten", "Möchten Sie eine Antwort auf Ihre Meldung haben,
                geben Sie hier bitte Ihre E-Mail-Adresse ein. Ihre Kontaktdaten werden geschützt,
                nicht weitergegeben oder anderweitig verwendet.") }}
              </div>
              <div class="relative">
                {{ form.contact(type="email", class="input-field") }}
              </div>
            </label>
            <div>
              <div id="additionalFields" class="hidden">
                <label for="{{ form.finder_first_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
                  <div class="flex justify-between">
                    {{ form.finder_first_name.label.text }}
                  </div>
                  <div class="relative">
                    {{ form.finder_first_name(class="input-field") }}
                  </div>
                </label>
                <label for="{{ form.finder_last_name.id }}" class="block mt-1 text-sm font-semibold text-gray-600">
                  <div class="flex justify-between">
                    {{ form.finder_last_name.label.text }}
                  </div>
                  <div class="relative">
                    {{ form.finder_last_name(class="input-field") }}
                  </div>
                </label>
                <div style="display:none;">
                  <label for="honeypot">Leave this field blank</label>
                  <input type="text" id="honeypot" name="honeypot">
                </div>
              </div>
              <div class="mt-4">
                <label class="block text-sm font-semibold text-gray-600">
                  <div class="flex items-center justify-between">
                    <span>Finder und Melder sind identisch</span>
                    {{ form.identical_finder_melder(class="w-5 h-5 text-blue-600 form-checkbox") }}
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between mt-4 space-x-2">
          {{ formButton('step3Prev', 'Zurück') }}
          {{ formButton('step3Next', 'Weiter') }}
        </div>
      </div>


      <!-- Step 4: Zusammenfassung -->
      <div id="step4" class="hidden">
        <h2 class="mb-4 text-3xl font-semibold text-gray-800">Zusammenfassung</h2>
        <p>Wenn alle Angaben korrekt sind, nicht vergessen auf »Senden« zu klicken!</p>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
          <div class="p-5 bg-white rounded-lg shadow-md">
            <h3 class="mb-2 text-xl font-semibold text-gray-800">Bild</h3>
            <div>
              <img id="summaryImage" class="object-cover w-full h-auto rounded-lg" src="#" alt="Bildvorschau">
            </div>
          </div>
          <div class="p-5 bg-white rounded-lg shadow-md">
            <h3 class="mb-2 text-xl font-semibold text-gray-800">Standort</h3>
            <div id="summaryMap" class="h-64 rounded-lg"></div>
            <ul class="mt-3 text-lg list-disc list-inside">
              <li><strong class="text-gray-800">Längengrad:</strong> <span id="summaryLongitude"></span></li>
              <li><strong class="text-gray-800">Breitengrad:</strong> <span id="summaryLatitude"></span></li>
              <li><strong class="text-gray-800">Straße:</strong> <span id="summaryStreet"></span></li>
              <li><strong class="text-gray-800">Postleitzahl:</strong> <span id="summaryZipCode"></span></li>
              <li><strong class="text-gray-800">Ort:</strong> <span id="summaryCity"></span></li>
              <li><strong class="text-gray-800">Landkreis/Stadt:</strong> <span id="summaryDistrict"></span></li>
              <li><strong class="text-gray-800">Bundesland:</strong> <span id="summaryState"></span></li>
            </ul>
          </div>
        </div>
        <h3 class="mt-8 text-lg font-semibold text-gray-800">Beschreibung</h3>
        <ul class="text-lg list-disc list-inside">
          <li><strong class="text-gray-800">Entwicklungsstadium/Geschlecht:</strong> <span id="summaryGender"></span>
          </li>
          <li><strong class="text-gray-800">Ortsbeschreibung:</strong> <span id="summaryLocationDescription"></span>
          </li>
          <li><strong class="text-gray-800">Bildbeschreibung:</strong> <span id="summaryPictureDescription"></span></li>
        </ul>
        <h3 class="mt-8 text-lg font-semibold text-gray-800">Person</h3>
        <ul class="text-lg list-disc list-inside">
          <li><strong class="text-gray-800">Vorname:</strong> <span id="summaryFirstName"></span></li>
          <li><strong class="text-gray-800">Nachname:</strong> <span id="summaryLastName"></span></li>
          <li><strong class="text-gray-800">Funddatum:</strong> <span id="summarySightingDate"></span></li>
          <li><strong class="text-gray-800">E-Mail:</strong> <span id="summaryContact"></span></li>
        </ul>
        <div class="flex justify-between mt-6 space-x-4">
          {{ formButton('step4Prev', 'Zurück') }}
          <button id="submitBtn" type="submit"
            class="relative px-6 py-2 text-sm font-medium text-gray-100 transition duration-300 bg-green-400 rounded-md hover:bg-green-500 ease">
            <span class="absolute bottom-0 left-0 h-full -ml-2">
              <svg viewBox="0 0 487 487" class="w-auto h-full opacity-100 object-stretch"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 .3c67 2.1 134.1 4.3 186.3 37 52.2 32.7 89.6 95.8 112.8 150.6 23.2 54.8 32.3 101.4 61.2 149.9 28.9 48.4 77.7 98.8 126.4 149.2H0V.3z"
                  fill="#FFF" fill-rule="nonzero" fill-opacity=".1"></path>
              </svg>
            </span>
            <span class="absolute top-0 right-0 w-8 h-full -mr-2">
              <svg viewBox="0 0 487 487" class="object-cover w-full h-full" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M487 486.7c-66.1-3.6-132.3-7.3-186.3-37s-95.9-85.3-126.2-137.2c-30.4-51.8-49.3-99.9-76.5-151.4C70.9 109.6 35.6 54.8.3 0H487v486.7z"
                  fill="#FFF" fill-rule="nonzero" fill-opacity=".1"></path>
              </svg>
            </span>
            <span id="send" class="relative">Senden</span>
            <svg id="loadSend" class="hidden w-5 h-5 mx-auto text-gray-100 animate-spin" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
          </button>
        </div>
      </div>
  </div>
</div>

<script>
  // Use Jinja2 to pass the Python variables to JavaScript
  const existingUser = {{ existing_user | tojson | safe }};

  // Check if the existingUser is not null
  if (existingUser) {
    const fields = [
      { id: "report_first_name", value: existingUser.user_name.split(" ")[1] },
      { id: "report_last_name", value: existingUser.user_name.split(" ")[0] },
      { id: "contact", value: existingUser.user_kontakt }
    ];

    fields.forEach(field => {
      const element = document.getElementById(field.id);
      element.value = field.value;
      element.readOnly = true;
    });
  }

  // Set mapApiKey for use in map.js
  const mapApiKey = "{{apikey}}";
</script>

<script src="{{ url_for('static', filename='js/report/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/report/form.js') }}"></script>
<script src="{{ url_for('static', filename='js/report/imageUpload.js') }}"></script>
<script src="{{ url_for('static', filename='js/report/summary.js') }}"></script>

{% endblock content %}
